<p style="font-size:30px; text-align:center; line-height:120%">
<br>
COMS W 4111-03, H03, V03<br>
Introduction to Databases<br>
Transaction Examples
</p>

# Environment Test

In [1]:
import json
import pandas as pd
import matplotlib

%load_ext sql

In [3]:
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost/lahman2017

'Connected: dbuser@lahman2017'

In [4]:
%sql select * from people where playerid='willite01'

1 rows affected.

[('willite01', 1918, 8, 30, 'USA', 'CA', 'San Diego', 2002, 7, 5, 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01', datetime.date(2002, 7, 5), datetime.date(1918, 8, 30))]

In [5]:
import pymysql.cursors
import json

pymysql_exceptions = (
    pymysql.err.IntegrityError,
    pymysql.err.MySQLError,
    pymysql.err.ProgrammingError,
    pymysql.err.InternalError,
    pymysql.err.DatabaseError,
    pymysql.err.DataError,
    pymysql.err.InterfaceError,
    pymysql.err.NotSupportedError,
    pymysql.err.OperationalError)

default_db_params = {
    "dbhost": "localhost",                    # Changeable defaults in constructor
    "port": 3306,
    "dbname": "classiccars",
    "dbuser": "dbuser",
    "dbpw": "dbuserdbuser",
    "cursorClass": pymysql.cursors.DictCursor,        # Default setting for DB connections
    "charset":  'utf8mb4'                             # Do not change
}


def get_new_connection(params=default_db_params):
    cnx = pymysql.connect(
        host=params["dbhost"],
        port=params["port"],
        user=params["dbuser"],
        password=params["dbpw"],
        db=params["dbname"],
        charset=params["charset"],
        cursorclass=params["cursorClass"])
    return cnx


def run_q(cnx, q, args, fetch=False, commit=True, cursor=None):
    """
    :param cnx: The database connection to use.
    :param q: The query string to run.
    :param args: Parameters to insert into query template if q is a template.
    :param fetch: True if this query produces a result and the function should perform and return fetchall()
    :return:
    """
    #debug_message("run_q: q = " + q)
    #ut.debug_message("Q = " + q)
    #ut.debug_message("Args = ", args)

    result = None

    try:
        if cursor is None:
            cnx = get_new_connection()
            cursor = cnx.cursor()

        result = cursor.execute(q, args)
        if fetch:
            result = cursor.fetchall()
        if commit:
            cnx.commit()
    except pymysql_exceptions as original_e:
        #print("dffutils.run_q got exception = ", original_e)
        raise(original_e)

    return result

In [9]:
q = "SELECT * from lahman2017.people where playerID=%s"
result = run_q(None, q, 'willite01', fetch=True, commit=True, cursor=None)
print("Result = ", json.dumps(result, indent=2, default=str))

Result =  [
  {
    "playerID": "willite01",
    "birthYear": 1918,
    "birthMonth": 8,
    "birthDay": 30,
    "birthCountry": "USA",
    "birthState": "CA",
    "birthCity": "San Diego",
    "deathYear": 2002,
    "deathMonth": 7,
    "deathDay": 5,
    "deathCountry": "USA",
    "deathState": "FL",
    "deathCity": "Inverness",
    "nameFirst": "Ted",
    "nameLast": "Williams",
    "nameGiven": "Theodore Samuel",
    "weight": "205",
    "height": "75",
    "bats": "L",
    "throws": "R",
    "debut": "1939-04-20",
    "finalGame": "1960-09-28",
    "retroID": "willt103",
    "bbrefID": "willite01",
    "DOD": "2002-07-05",
    "DOB": "1918-08-30"
  }
]

## Transactions

### Statement

- Below is a table definition for a banking account.

```
CREATE TABLE `banking_account` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `balance` double NOT NULL,
  `version` varchar(64) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
```

- The fields have the following meanings:
    - _id_ is the account number or ID. The field is auto-increment, which means a new ID is created om every INSERT.
    - _balance_ is the account balance.
    - _version_ is a UUID in string format. Every program that updates an account tuple generates a new UUID and updates on the insert along with any other fields the program changes.
    

- Write two programs:
    - $transfer\_pessimistic:$
        - Begins a transaction and sets the isolation level to serializable.
        - Prompts the user for the source account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the target account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the amount to transfer.
        - Performs the transfer.
        - Commits.
    - $transfer\_optimistic:$
        - Prompts the user for the source account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the target account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the amount to transfer.
        - Begins a transaction and sets the isolation level to serializable.
        - Rereads the information.
        - If the version data has not changed, performs the transfer.
        - Commits.

### Answer

#### Functions

In [18]:
import uuid

def create_account(balance, cursor):
    """

    :param balance: The initial balance of the account.
    :return: None
    """

    # I repeat this segment of code over and over again in each function just for clarity.
    # Normally, I would put in a function shared by all transactional functions. If I did this,
    # you would have to look through two functions to understand the logic.
    #
    # Is there already a cursor?
    if cursor is  None:
        # Not part of a bigger transaction. Create connection and cursor.
        cnx = get_new_connection()
        cursor = cnx.cursor()
        cursor.execute("SET SESSION TRANSACTION ISOLATION LEVEL SERIALIZABLE")
        cursor_created = True
    else:
        cursor_created = False
        
    try:
        # Generate a UUID for this version of the account state.
        version_id = str(uuid.uuid4())

        # Insert/create the new account record.
        q = "insert into w4111final.banking_account (balance, version) values(%s, %s)"
        result = run_q(cnx, q, (balance, version_id), fetch=True, commit=False, cursor=cursor)

        # By definition, we are in a transaction. So, auto-increment must be the largest value for
        # the auto-increment field.
        q = "select max(id) as new_id from w4111final.banking_account;"
        result = run_q(cnx, q, None, fetch=True, commit=False, cursor=cursor)

        result = result[0]['new_id']

        # Commit and free up resources.
        if cursor_created:
            cnx.commit()
            cnx.close()
    except exception as a:
        print("Exception = ", e)
        if cursor_created:
            cnx.rollback()
            cnx.close()


    return result

In [11]:
def get_balance(id, cursor=None):
    """

    Gets the balance for an account given an id. This call may be part of a larger transaction,
    and will receive a cursor if it is. Otherwise, cursor is None.
    :param id: The account number.
    :param cursor: Cursor for larger transaction, if any.
    :return:
    """

    cnx = None

    # I repeat this segment of code over and over again in each function just for clarity.
    # Normally, I would put in a function shared by all transactional functions. If I did this,
    # you would have to look through two functions to understand the logic.
    #
    # Is there already a cursor?
    if cursor is  None:
        # Not part of a bigger transaction. Create connection and cursor.
        cnx = get_new_connection()
        cursor = cnx.cursor()
        cursor_created = True
        cursor.execute("SET TRANSACTION ISOLATION LEVEL SERIALIZABLE")
    else:
        cursor_created = False

    try:
        # Get the account balance.
        q = "select * from w4111final.banking_account where id=%s"
        result = run_q(cnx, q, id, fetch=True, commit=False, cursor=cursor)

        # Same comment as above. I repeat this over and over.
        # If this function created a cursor, clean up.
        # Otherwise, top-level transaction will do this.
        if cursor_created:
            cnx.commit()
            cnx.close()
    except Exception as e:
        print("Exception = ", e)
        if cursor_created:
            cnx.rollback()
            cnx.close()


    return result[0]['balance']

In [12]:
def get_account(id, cursor=None):
    """
    Same logic as above. Normally, there would be a single function that returned data based on
    requested fields instead of two different functions.
    """

    if cursor is None:
        cnx = get_new_connection()
        cursor = cnx.cursor()
        cursor_created = True
        cursor.execute("SET TRANSACTION ISOLATION LEVEL SERIALIZABLE")
    else:
        cursor_created = False
        cnx = None

    try:
        q = "select * from w4111final.banking_account where id=%s"
        result = run_q(cnx, q, id, fetch=True, commit=False, cursor=cursor)

        if cursor_created:
            cnx.commit()
            cnx.close()
    except Exception as e:
        print("Exception = ", e)
        if cursor_created:
            cnx.rollback()
            cnx.close()


    return result[0]

In [13]:
def update_balance(id, amount, cursor=None):
    """

    :param id: Account number.
    :param amount: New balance to set.
    :param cursor: Cursor if part of a larger transaction. None otherwise.
    :return:
    """

    cnx = None
    result = None

    # Connect and set up a transaction if I need one.
    if cursor is None:
        cnx = get_new_connection()
        cursor = cnx.cursor()
        cursor_created = True
    else:
        cursor_created = False

    try:
        # This function is going to change the data, and needs to modify version information.
        new_version = str(uuid.uuid4())

        # Update balance and version number.
        q = "update w4111final.banking_account set balance=%s, version=%s where id=%s"
        result = run_q(cnx, q, (amount, new_version, id), fetch=True, commit=False, cursor=cursor)

        if cursor_created:
            cnx.commit()
            cnx.close()
            
        return result
    except Exception as e:
        print("Exception = ", e)
        if cursor_created:
            cnx.rollback()
            cnx.close()
            
    return result

In [33]:
def update_balance_optimistic(acct, amount, cursor=None):


    if cursor is None:
        cnx = get_new_connection()
        cursor = cnx.cursor()
        cursor.execute("SET TRANSACTION ISOLATION LEVEL SERIALIZABLE")
        cursor_created = True
    else:
        cursor_created = False
        cnx = None

    try:
        current_acct = get_account(acct['id'], cursor=cursor)
        if current_acct['version'] != acct['version']:
            raise ValueError("Optimistic transaction failed.")

        new_version = str(uuid.uuid4())

        q = "update w4111final.banking_account set balance=%s, version=%s where id=%s"

        result = run_q(cnx, q, (amount, new_version, acct['id']), fetch=True, commit=False, cursor=cursor)

        if cursor_created:
            cnx.commit()
            cnx.close()
            
        return result
    
    except Exception as e:
        print("Exception = ", e)
        if cursor_created:
            cnx.rollback()
            cnx.close()

In [15]:
def transfer_pessimistic():                                                                                           
    """                                                                                                               
    Prompts for source and target accounts and amount to transfer.                                                    
    Locks accounts to prevent another update from interfering during the transfer.                                    
    :return:                                                                                                          
    """                                                                                                               
                                                                                                                      
    print(" \n*** Transfering Pessimistically ***\n")                                                                 
                                                                                                                      
    # Start the transaction that will contain individual operations.                                                  
    cnx = get_new_connection()                                                                                        
    cursor = cnx.cursor()                                                                                             
                                                                                                                      
    try:                                                                                                              
        # Prevent problems due to read/write conflicts between transactions.                                          
        cursor.execute("SET TRANSACTION ISOLATION LEVEL SERIALIZABLE")                                                
                                                                                                                      
        # Get the source account information.                                                                         
        source_id = input("Source account ID: ")                                                                      
                                                                                                                      
        # Get balance. Since we are passing a cursor, there will be a read lock on the account tuples.                
        source_b = get_balance(source_id, cursor=cursor)                                                              
                                                                                                                      
        # I do these prompts this way to slow down the transaction so that we can play with various conflicts.        
        cont = input("Source balance = " + str(source_b) + ". Continue (y/n)")                                        
                                                                                                                      
        if cont == 'y':                                                                                               
                                                                                                                      
            # Same logic but for target.                                                                              
            target_id = input("Target account ID: ")                                                                  
            target_b = get_balance(target_id, cursor=cursor)                                                          
            input("Target balance = " + str(target_b) + ". Continue (y/n)")                                           
                                                                                                                      
            if cont == 'y':                                                                                           
                                                                                                                      
                amount = input("Amount: ")                                                                            
                amount = float(amount)                                                                                
                                                                                                                      
                # Compute new balances.                                                                               
                new_source = source_b - amount                                                                        
                new_target = target_b + amount                                                                        
                                                                                                                      
                # Perform updates.                                                                                    
                update_balance(source_id, new_source, cursor=cursor)                                                  
                update_balance(target_id, new_target, cursor=cursor)                                                  
                                                                                                                      
        cnx.commit()                                                                                          
        cnx.close()                                                                                           
                                                                                                                      
    except Exception as e:                                                                                            
        print("Got exception = ", e)                                                                                  
        cnx.rollback()                                                                                                
        cnx.close()                                                                                                   
                                                                                                                      
    return

In [31]:
def transfer_optimistic():
    """
    Same as above, but optimistic.
    :return: 
    """

    print(" \n*** Transfering Optimistically *** \n")
    
    cnx = None
    
    source_id = input("Source account ID: ")
    
    # Do not pass a cursor. Read should read, commit and release locks.
    source_acct = get_account(source_id, cursor=None)
    cont = input("Source balance = " + str(source_acct['balance']) + ". Continue (y/n)")

    if cont == 'y':

        # Same basic logic.
        target_id = input("Target account ID: ")
        target_acct = get_account(target_id, cursor=None)
        input("Target balance = " + str(target_acct['balance']) + ". Continue (y/n)")

        if cont == 'y':

            amount = input("Amount: ")
            amount = float(amount)

            # Compute new balances.
            new_source = source_acct['balance'] - amount
            new_target = target_acct['balance'] + amount

            try:
                # Begin a transaction to perform transfer.
                
                cnx = get_new_connection()
                cursor = cnx.cursor()
                cursor.execute("SET TRANSACTION ISOLATION LEVEL SERIALIZABLE")

                # Update the balances. This will fail if underlying balance has changed.
                update_balance_optimistic(source_acct, new_source, cursor=cursor)
                update_balance_optimistic(target_acct, new_target, cursor=cursor)
                
                cnx.commit()
                cnx.close()
            except Exception as e:
                print("Got exception = ", e)
                cnx.rollback()
                cnx.close()

#### Tests

In [19]:
id = create_account(300, cursor=None)
print("New account ID = ", id)

New account ID =  17

In [20]:
b = get_balance(id, cursor=None)
print("Account balance is ", b)

Account balance is  300.0

In [21]:
acct = get_account(id, cursor=None)
print("Account = ", json.dumps(acct))

Account =  {"id": 17, "balance": 300.0, "version": "289989fd-7bc2-4175-97ca-648bcbd1e544"}

In [22]:
update_balance(id, 200, cursor=None)
acct2 = get_account(id, cursor=None)
print("Account = ", json.dumps(acct2))

Account =  {"id": 17, "balance": 200.0, "version": "b58db3d7-9a5c-4270-9ef0-d8000b572b55"}

In [23]:
account = get_account(id, cursor=None)
print(account)

{'id': 17, 'balance': 200.0, 'version': 'b58db3d7-9a5c-4270-9ef0-d8000b572b55'}

In [24]:
# Make an update.
update_balance(id, 100, cursor=None)

()

In [25]:
# Now try optimistic
# Make an update.
update_balance_optimistic(account, 100, cursor=None)

Exception =  Optimistic transaction failed.

In [26]:
transfer_pessimistic()

*** Transfering Pessimistically ***

Source account ID: 13
Source balance = 100.0. Continue (y/n)y
Target account ID: 14
Target balance = 125.0. Continue (y/n)y
Amount: 25

In [27]:
a1 = get_account(13)
print(a1)
a2 = get_account(14)
print(a2)

{'id': 13, 'balance': 75.0, 'version': '331c9011-4655-4da8-b92c-a4a6e34e1255'}
{'id': 14, 'balance': 150.0, 'version': 'b305f3e6-20ec-400b-ab0e-cfcb2466940f'}

In [34]:
transfer_optimistic()

*** Transfering Optimistically ***

Source account ID: 13
Source balance = 75.0. Continue (y/n)y
Target account ID: 14
Target balance = 150.0. Continue (y/n)y
Amount: 10

In [35]:
a7=get_account(13)
print(a7)

{'id': 13, 'balance': 65.0, 'version': '80df76d8-3ac4-45f5-b208-47d680719396'}

__DFF Note to CAs:__
1. The students DO NOT need to concurrently run transfer_optimistic() and transfer_pessimistic() to show the various conflicts. Doing this inside a notebook is confusing. They should run each function once to show that it works.
2. I just care that they are able to demonstrate the segment that causes the optimistic transaction to abort.


_Screenshots of more complex tests._

- At this point, you can run the programs in two different windows to see how they do or do not interfere.


- Screenshots do not really help for all of the tests.


- You can show the optimistic transaction rolling back.


- You can also show deadlocks.

## Star Schema

### Statement

Your experience with W4111 have led you to decide that computer science, data science, IEOR, etc. are not the fields for you. While being very talented and good at the domains, the topics bring back back memories. You decide that the world was a better place before computers and you want to student that world. You become an archaeologist.

One day on a dig, you uncover what is an advanced computer inside ancient remains. This is game changing. This is proof of ancient aliens. Despite your aversion to technology, the opportunity is to great and you decide to the student the system. After powering on the device, you discover that it contains a database -- [Sakila Sample Database.] Probing the database reveals that it contains information about video rental stores. Wow! This is really old.

Seeing a killer breakthrough paper, "Uncovered: The Video Viewing Habits of Earth Visiting Ancient Aliens," you decide you must apply data analysis to the data. A snarky voice, sounding suspiciously like the annoying DB professor states, "Use a star schema!"

The two most important facts for the fact table clearly are: a rental, and the corresponding payment. You must build a star schema containing a fact table and dimension tables enabling you to analyze the data.

Your tasks:
1. Define the DDL statements that create the fact table and dimension tables. You must decide what the dimensions are.
2. Write SQL to load/copy data from the base Sakila tables into your fact and dimensions tables.
3. Write three queries demonstrating.
    1. A roll-up operation.
    2. A slice operation.
    3. A dice operaton.

### Answer

__The two most important facts for the fact table clearly are: a rental, and the corresponding payment.__ (From problem definition).


<u>Rental:</u>

In [40]:
%sql select * from sakila2.rental limit 10;

10 rows affected.

[(1, datetime.datetime(2005, 5, 24, 22, 53, 30), 367, 130, datetime.datetime(2005, 5, 26, 22, 4, 30), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (2, datetime.datetime(2005, 5, 24, 22, 54, 33), 1525, 459, datetime.datetime(2005, 5, 28, 19, 40, 33), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (3, datetime.datetime(2005, 5, 24, 23, 3, 39), 1711, 408, datetime.datetime(2005, 6, 1, 22, 12, 39), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (4, datetime.datetime(2005, 5, 24, 23, 4, 41), 2452, 333, datetime.datetime(2005, 6, 3, 1, 43, 41), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (5, datetime.datetime(2005, 5, 24, 23, 5, 21), 2079, 222, datetime.datetime(2005, 6, 2, 4, 33, 21), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (6, datetime.datetime(2005, 5, 24, 23, 8, 7), 2792, 549, datetime.datetime(2005, 5, 27, 1, 32, 7), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (7, datetime.datetime(2005, 5, 24, 23, 11, 53), 3995, 269, datetime.datetime(2005, 5, 29, 20, 34, 53), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (8, datetime.datetime(2005, 5, 24, 23, 31, 46), 2346, 239, datetime.datetime(2005, 5, 27, 23, 33, 46), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (9, datetime.datetime(2005, 5, 25, 0, 0, 40), 2580, 126, datetime.datetime(2005, 5, 28, 0, 22, 40), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (10, datetime.datetime(2005, 5, 25, 0, 2, 21), 1824, 399, datetime.datetime(2005, 5, 31, 22, 44, 21), 2, datetime.datetime(2006, 2, 15, 21, 30, 53))]



<u>Payment:</u>

In [41]:
%sql select * from sakila2.payment limit 10;

10 rows affected.

[(1, 1, 1, 76, Decimal('2.99'), datetime.datetime(2005, 5, 25, 11, 30, 37), datetime.datetime(2006, 2, 15, 22, 12, 30)),
 (2, 1, 1, 573, Decimal('0.99'), datetime.datetime(2005, 5, 28, 10, 35, 23), datetime.datetime(2006, 2, 15, 22, 12, 30)),
 (3, 1, 1, 1185, Decimal('5.99'), datetime.datetime(2005, 6, 15, 0, 54, 12), datetime.datetime(2006, 2, 15, 22, 12, 30)),
 (4, 1, 2, 1422, Decimal('0.99'), datetime.datetime(2005, 6, 15, 18, 2, 53), datetime.datetime(2006, 2, 15, 22, 12, 30)),
 (5, 1, 2, 1476, Decimal('9.99'), datetime.datetime(2005, 6, 15, 21, 8, 46), datetime.datetime(2006, 2, 15, 22, 12, 30)),
 (6, 1, 1, 1725, Decimal('4.99'), datetime.datetime(2005, 6, 16, 15, 18, 57), datetime.datetime(2006, 2, 15, 22, 12, 30)),
 (7, 1, 1, 2308, Decimal('4.99'), datetime.datetime(2005, 6, 18, 8, 41, 48), datetime.datetime(2006, 2, 15, 22, 12, 30)),
 (8, 1, 2, 2363, Decimal('0.99'), datetime.datetime(2005, 6, 18, 13, 33, 59), datetime.datetime(2006, 2, 15, 22, 12, 30)),
 (9, 1, 1, 3284, Decimal('3.99'), datetime.datetime(2005, 6, 21, 6, 24, 45), datetime.datetime(2006, 2, 15, 22, 12, 30)),
 (10, 1, 2, 4526, Decimal('5.99'), datetime.datetime(2005, 7, 8, 3, 17, 5), datetime.datetime(2006, 2, 15, 22, 12, 30))]


- The JOIN column is clearly $rental\_id.$

In [42]:
%%sql select
    rental.rental_id, rental.customer_id, rental.inventory_id, rental.staff_id, 
    payment.payment_id, payment.amount,
    rental.rental_date, rental.return_date, payment.payment_date
from sakila2.rental join sakila2.payment
on sakila2.rental.rental_id = sakila2.payment.rental_id
limit 10;

10 rows affected.

[(1, 130, 367, 1, 3504, Decimal('2.99'), datetime.datetime(2005, 5, 24, 22, 53, 30), datetime.datetime(2005, 5, 26, 22, 4, 30), datetime.datetime(2005, 5, 24, 22, 53, 30)),
 (2, 459, 1525, 1, 12377, Decimal('2.99'), datetime.datetime(2005, 5, 24, 22, 54, 33), datetime.datetime(2005, 5, 28, 19, 40, 33), datetime.datetime(2005, 5, 24, 22, 54, 33)),
 (3, 408, 1711, 1, 11032, Decimal('3.99'), datetime.datetime(2005, 5, 24, 23, 3, 39), datetime.datetime(2005, 6, 1, 22, 12, 39), datetime.datetime(2005, 5, 24, 23, 3, 39)),
 (4, 333, 2452, 2, 8987, Decimal('4.99'), datetime.datetime(2005, 5, 24, 23, 4, 41), datetime.datetime(2005, 6, 3, 1, 43, 41), datetime.datetime(2005, 5, 24, 23, 4, 41)),
 (5, 222, 2079, 1, 6003, Decimal('6.99'), datetime.datetime(2005, 5, 24, 23, 5, 21), datetime.datetime(2005, 6, 2, 4, 33, 21), datetime.datetime(2005, 5, 24, 23, 5, 21)),
 (6, 549, 2792, 1, 14728, Decimal('0.99'), datetime.datetime(2005, 5, 24, 23, 8, 7), datetime.datetime(2005, 5, 27, 1, 32, 7), datetime.datetime(2005, 5, 24, 23, 8, 7)),
 (7, 269, 3995, 2, 7274, Decimal('1.99'), datetime.datetime(2005, 5, 24, 23, 11, 53), datetime.datetime(2005, 5, 29, 20, 34, 53), datetime.datetime(2005, 5, 24, 23, 11, 53)),
 (8, 239, 2346, 2, 6440, Decimal('4.99'), datetime.datetime(2005, 5, 24, 23, 31, 46), datetime.datetime(2005, 5, 27, 23, 33, 46), datetime.datetime(2005, 5, 24, 23, 31, 46)),
 (9, 126, 2580, 1, 3386, Decimal('4.99'), datetime.datetime(2005, 5, 25, 0, 0, 40), datetime.datetime(2005, 5, 28, 0, 22, 40), datetime.datetime(2005, 5, 25, 0, 0, 40)),
 (10, 399, 1824, 2, 10785, Decimal('5.99'), datetime.datetime(2005, 5, 25, 0, 2, 21), datetime.datetime(2005, 5, 31, 22, 44, 21), datetime.datetime(2005, 5, 25, 0, 2, 21))]

- The fact is basically, "Customer x rented movie y from staff member z at store p on date d, returning on d2 and paying on d3."


- You could argue this is actually several facts, and would be several fact tables in a more realistic solution.

In [43]:
%%sql create table if not exists sakila2.rental_payment_facts as select
    rental.rental_id, rental.customer_id, rental.inventory_id, rental.staff_id, 
    payment.payment_id, payment.amount,
    rental.rental_date, rental.return_date, payment.payment_date
from sakila2.rental join sakila2.payment
on sakila2.rental.rental_id = sakila2.payment.rental_id

0 rows affected.

/Users/donaldferguson/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1050, "Table 'rental_payment_facts' already exists")
  result = self._query(query)

[]

In [44]:
%sql select * from sakila2.rental_payment_facts limit 10;

10 rows affected.

[(1, 130, 367, 1, 3504, Decimal('2.99'), datetime.datetime(2005, 5, 24, 22, 53, 30), datetime.datetime(2005, 5, 26, 22, 4, 30), datetime.datetime(2005, 5, 24, 22, 53, 30), datetime.date(2005, 5, 24), datetime.date(2005, 5, 24), datetime.date(2005, 5, 26)),
 (2, 459, 1525, 1, 12377, Decimal('2.99'), datetime.datetime(2005, 5, 24, 22, 54, 33), datetime.datetime(2005, 5, 28, 19, 40, 33), datetime.datetime(2005, 5, 24, 22, 54, 33), datetime.date(2005, 5, 24), datetime.date(2005, 5, 24), datetime.date(2005, 5, 28)),
 (3, 408, 1711, 1, 11032, Decimal('3.99'), datetime.datetime(2005, 5, 24, 23, 3, 39), datetime.datetime(2005, 6, 1, 22, 12, 39), datetime.datetime(2005, 5, 24, 23, 3, 39), datetime.date(2005, 5, 24), datetime.date(2005, 5, 24), datetime.date(2005, 6, 1)),
 (4, 333, 2452, 2, 8987, Decimal('4.99'), datetime.datetime(2005, 5, 24, 23, 4, 41), datetime.datetime(2005, 6, 3, 1, 43, 41), datetime.datetime(2005, 5, 24, 23, 4, 41), datetime.date(2005, 5, 24), datetime.date(2005, 5, 24), datetime.date(2005, 6, 3)),
 (5, 222, 2079, 1, 6003, Decimal('6.99'), datetime.datetime(2005, 5, 24, 23, 5, 21), datetime.datetime(2005, 6, 2, 4, 33, 21), datetime.datetime(2005, 5, 24, 23, 5, 21), datetime.date(2005, 5, 24), datetime.date(2005, 5, 24), datetime.date(2005, 6, 2)),
 (6, 549, 2792, 1, 14728, Decimal('0.99'), datetime.datetime(2005, 5, 24, 23, 8, 7), datetime.datetime(2005, 5, 27, 1, 32, 7), datetime.datetime(2005, 5, 24, 23, 8, 7), datetime.date(2005, 5, 24), datetime.date(2005, 5, 24), datetime.date(2005, 5, 27)),
 (7, 269, 3995, 2, 7274, Decimal('1.99'), datetime.datetime(2005, 5, 24, 23, 11, 53), datetime.datetime(2005, 5, 29, 20, 34, 53), datetime.datetime(2005, 5, 24, 23, 11, 53), datetime.date(2005, 5, 24), datetime.date(2005, 5, 24), datetime.date(2005, 5, 29)),
 (8, 239, 2346, 2, 6440, Decimal('4.99'), datetime.datetime(2005, 5, 24, 23, 31, 46), datetime.datetime(2005, 5, 27, 23, 33, 46), datetime.datetime(2005, 5, 24, 23, 31, 46), datetime.date(2005, 5, 24), datetime.date(2005, 5, 24), datetime.date(2005, 5, 27)),
 (9, 126, 2580, 1, 3386, Decimal('4.99'), datetime.datetime(2005, 5, 25, 0, 0, 40), datetime.datetime(2005, 5, 28, 0, 22, 40), datetime.datetime(2005, 5, 25, 0, 0, 40), datetime.date(2005, 5, 25), datetime.date(2005, 5, 25), datetime.date(2005, 5, 28)),
 (10, 399, 1824, 2, 10785, Decimal('5.99'), datetime.datetime(2005, 5, 25, 0, 2, 21), datetime.datetime(2005, 5, 31, 22, 44, 21), datetime.datetime(2005, 5, 25, 0, 2, 21), datetime.date(2005, 5, 25), datetime.date(2005, 5, 25), datetime.date(2005, 5, 31))]

- We clearly have date/time dimensions to facts.


- Do we have location? There are two locations:
    - Where the person resides.
    - Where the store is.

##### Location

In [45]:
%%sql select customer_id, first_name, last_name,
	address.address, address.address2, district, city_id, postal_code
from sakila2.customer join sakila2.address on customer.address_id=address.address_id
limit 10;

10 rows affected.

[(1, 'MARY', 'SMITH', '1913 Hanoi Way', '', 'Nagasaki', 463, '35200'),
 (2, 'PATRICIA', 'JOHNSON', '1121 Loja Avenue', '', 'California', 449, '17886'),
 (3, 'LINDA', 'WILLIAMS', '692 Joliet Street', '', 'Attika', 38, '83579'),
 (4, 'BARBARA', 'JONES', '1566 Inegl Manor', '', 'Mandalay', 349, '53561'),
 (5, 'ELIZABETH', 'BROWN', '53 Idfu Parkway', '', 'Nantou', 361, '42399'),
 (6, 'JENNIFER', 'DAVIS', '1795 Santiago de Compostela Way', '', 'Texas', 295, '18743'),
 (7, 'MARIA', 'MILLER', '900 Santiago de Compostela Parkway', '', 'Central Serbia', 280, '93896'),
 (8, 'SUSAN', 'WILSON', '478 Joliet Way', '', 'Hamilton', 200, '77948'),
 (9, 'MARGARET', 'MOORE', '613 Korolev Drive', '', 'Masqat', 329, '45844'),
 (10, 'DOROTHY', 'TAYLOR', '1531 Sal Drive', '', 'Esfahan', 162, '53628')]

- We can do a little better. There is a city name and country id/name.


- We do not need to go down to the granularity of postal code. So, we will focus on city.

In [47]:
%sql use sakila2

0 rows affected.

[]

In [48]:
%%sql select customer_id, first_name, last_name,
	address.address, address.address2, district, city_id, postal_code,
    (select city from city where city.city_id=address.city_id) as city_name,
    (select country_id from city where city.city_id=address.city_id) as country_id,
    (select country from country where country.country_id =
		(select country_id from city where city.city_id=address.city_id)) as country
from customer join address on customer.address_id=address.address_id
limit 10;

10 rows affected.

[(1, 'MARY', 'SMITH', '1913 Hanoi Way', '', 'Nagasaki', 463, '35200', 'Sasebo', 50, 'Japan'),
 (2, 'PATRICIA', 'JOHNSON', '1121 Loja Avenue', '', 'California', 449, '17886', 'San Bernardino', 103, 'United States'),
 (3, 'LINDA', 'WILLIAMS', '692 Joliet Street', '', 'Attika', 38, '83579', 'Athenai', 39, 'Greece'),
 (4, 'BARBARA', 'JONES', '1566 Inegl Manor', '', 'Mandalay', 349, '53561', 'Myingyan', 64, 'Myanmar'),
 (5, 'ELIZABETH', 'BROWN', '53 Idfu Parkway', '', 'Nantou', 361, '42399', 'Nantou', 92, 'Taiwan'),
 (6, 'JENNIFER', 'DAVIS', '1795 Santiago de Compostela Way', '', 'Texas', 295, '18743', 'Laredo', 103, 'United States'),
 (7, 'MARIA', 'MILLER', '900 Santiago de Compostela Parkway', '', 'Central Serbia', 280, '93896', 'Kragujevac', 108, 'Yugoslavia'),
 (8, 'SUSAN', 'WILSON', '478 Joliet Way', '', 'Hamilton', 200, '77948', 'Hamilton', 68, 'New Zealand'),
 (9, 'MARGARET', 'MOORE', '613 Korolev Drive', '', 'Masqat', 329, '45844', 'Masqat', 71, 'Oman'),
 (10, 'DOROTHY', 'TAYLOR', '1531 Sal Drive', '', 'Esfahan', 162, '53628', 'Esfahan', 46, 'Iran')]

- We do not worry about street or postal code.

In [49]:
%%sql select customer_id, first_name, last_name,
	city_id, 
    (select city from city where city.city_id=address.city_id) as city_name,
    district,
    (select country_id from city where city.city_id=address.city_id) as country_id,
    (select country from country where country.country_id =
		(select country_id from city where city.city_id=address.city_id)) as country
from customer join address on customer.address_id=address.address_id
limit 10;

10 rows affected.

[(1, 'MARY', 'SMITH', 463, 'Sasebo', 'Nagasaki', 50, 'Japan'),
 (2, 'PATRICIA', 'JOHNSON', 449, 'San Bernardino', 'California', 103, 'United States'),
 (3, 'LINDA', 'WILLIAMS', 38, 'Athenai', 'Attika', 39, 'Greece'),
 (4, 'BARBARA', 'JONES', 349, 'Myingyan', 'Mandalay', 64, 'Myanmar'),
 (5, 'ELIZABETH', 'BROWN', 361, 'Nantou', 'Nantou', 92, 'Taiwan'),
 (6, 'JENNIFER', 'DAVIS', 295, 'Laredo', 'Texas', 103, 'United States'),
 (7, 'MARIA', 'MILLER', 280, 'Kragujevac', 'Central Serbia', 108, 'Yugoslavia'),
 (8, 'SUSAN', 'WILSON', 200, 'Hamilton', 'Hamilton', 68, 'New Zealand'),
 (9, 'MARGARET', 'MOORE', 329, 'Masqat', 'Masqat', 71, 'Oman'),
 (10, 'DOROTHY', 'TAYLOR', 162, 'Esfahan', 'Esfahan', 46, 'Iran')]

- We can do a similar analysis for stores.

In [50]:
%%sql select staff_id, store_id,
	city_id, (select city from city where city.city_id=address.city_id) as city_name,
    district,
    (select country_id from city where city.city_id=address.city_id) as country_id,
    (select country from country where country.country_id =
		(select country_id from city where city.city_id=address.city_id)) as country
from staff join address on 
	(select address_id from store where store.store_id=staff.store_id)=address.address_id
limit 10;

2 rows affected.

[(1, 1, 300, 'Lethbridge', 'Alberta', 20, 'Canada'),
 (2, 2, 576, 'Woodridge', 'QLD', 8, 'Australia')]

- Not a particularly "deep" dimension, but again we are focusing on the concept.


- Hopefully, our analysis will be so successful that we will open 100s of stores.


- So, we now have two dimensions:
    - Customer location dimension.
    - Staff/store location dimension.
    
    
- Dimensions often have a shared _hierarchy._ In our case, we will have customer and staff_store share an address hierarchy.

In [51]:
%%sql create table if not exists address_hierarchy as
select address_id,
	city_id, (select city from city where city.city_id=address.city_id) as city_name,
    district,
    (select country_id from city where city.city_id=address.city_id) as country_id,
    (select country from country where country.country_id =
		(select country_id from city where city.city_id=address.city_id)) as country
from
	address;

0 rows affected.

/Users/donaldferguson/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1050, "Table 'address_hierarchy' already exists")
  result = self._query(query)

[]

In [52]:
%sql select * from address_hierarchy limit 10;

10 rows affected.

[(1, 300, 'Lethbridge', 'Alberta', 20, 'Canada'),
 (2, 576, 'Woodridge', 'QLD', 8, 'Australia'),
 (3, 300, 'Lethbridge', 'Alberta', 20, 'Canada'),
 (4, 576, 'Woodridge', 'QLD', 8, 'Australia'),
 (5, 463, 'Sasebo', 'Nagasaki', 50, 'Japan'),
 (6, 449, 'San Bernardino', 'California', 103, 'United States'),
 (7, 38, 'Athenai', 'Attika', 39, 'Greece'),
 (8, 349, 'Myingyan', 'Mandalay', 64, 'Myanmar'),
 (9, 361, 'Nantou', 'Nantou', 92, 'Taiwan'),
 (10, 295, 'Laredo', 'Texas', 103, 'United States')]

In [53]:
%%sql create table if not exists customer_location_dimension as
select customer_id, address_hierarchy.*
from customer join address_hierarchy on customer.address_id=address_hierarchy.address_id;

0 rows affected.

/Users/donaldferguson/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1050, "Table 'customer_location_dimension' already exists")
  result = self._query(query)

[]

In [54]:
%sql select * from customer_location_dimension limit 10;

10 rows affected.

[(1, 5, 463, 'Sasebo', 'Nagasaki', 50, 'Japan'),
 (2, 6, 449, 'San Bernardino', 'California', 103, 'United States'),
 (3, 7, 38, 'Athenai', 'Attika', 39, 'Greece'),
 (4, 8, 349, 'Myingyan', 'Mandalay', 64, 'Myanmar'),
 (5, 9, 361, 'Nantou', 'Nantou', 92, 'Taiwan'),
 (6, 10, 295, 'Laredo', 'Texas', 103, 'United States'),
 (7, 11, 280, 'Kragujevac', 'Central Serbia', 108, 'Yugoslavia'),
 (8, 12, 200, 'Hamilton', 'Hamilton', 68, 'New Zealand'),
 (9, 13, 329, 'Masqat', 'Masqat', 71, 'Oman'),
 (10, 14, 162, 'Esfahan', 'Esfahan', 46, 'Iran')]

In [55]:
%%sql create table if not exists staff_store_location_dimension as 
    select staff_id, store_id, address_hierarchy.* from
    staff join address_hierarchy on 
    (select address_id from store where store.store_id=staff.store_id)=address_hierarchy.address_id;

0 rows affected.

/Users/donaldferguson/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1050, "Table 'staff_store_location_dimension' already exists")
  result = self._query(query)

[]

In [56]:
%sql select * from staff_store_location_dimension;

2 rows affected.

[(1, 1, 1, 300, 'Lethbridge', 'Alberta', 20, 'Canada'),
 (2, 2, 2, 576, 'Woodridge', 'QLD', 8, 'Australia')]

##### Date Dimension

- The hierarchy will be: _year, quarter, month, day of month._


- How do we get this hierarchy?

In [57]:
%%sql select
    rental_date as date,
    year(rental_date) as year,
    ceil(month(rental_date)/4) as quarter,
    month(rental_date) as month,
    dayofmonth(rental_date) as day_of_month
from rental limit 10;

10 rows affected.

[(datetime.datetime(2005, 5, 24, 22, 53, 30), 2005, 2, 5, 24),
 (datetime.datetime(2005, 5, 24, 22, 54, 33), 2005, 2, 5, 24),
 (datetime.datetime(2005, 5, 24, 23, 3, 39), 2005, 2, 5, 24),
 (datetime.datetime(2005, 5, 24, 23, 4, 41), 2005, 2, 5, 24),
 (datetime.datetime(2005, 5, 24, 23, 5, 21), 2005, 2, 5, 24),
 (datetime.datetime(2005, 5, 24, 23, 8, 7), 2005, 2, 5, 24),
 (datetime.datetime(2005, 5, 24, 23, 11, 53), 2005, 2, 5, 24),
 (datetime.datetime(2005, 5, 24, 23, 31, 46), 2005, 2, 5, 24),
 (datetime.datetime(2005, 5, 25, 0, 0, 40), 2005, 2, 5, 25),
 (datetime.datetime(2005, 5, 25, 0, 2, 21), 2005, 2, 5, 25)]

In [58]:
%%sql create table if not exists date_dimension as select distinct
    date(rental_date) as date,
    year(rental_date) as year,
    ceil(month(rental_date)/4) as quarter,
    month(rental_date) as month,
    dayofmonth(rental_date) as day_of_month
from rental;

0 rows affected.

/Users/donaldferguson/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1050, "Table 'date_dimension' already exists")
  result = self._query(query)

[]

__DFF Note to CAs:__ 
1. At this point, the DBA would create primary and foreign keys between the facts and dimensions. I waived this requirement.
2. I cannot rerun the inserts below because I already have the data. Students should run inserts and the results should be OK.
3. They should do some ER diagrams but do not worry about foreign keys.
4. The slices, dices, etc. do not need to match mine. Just make sure that understand the concept.

```
%%sql insert ignore into date_dimension 
    select
        date(return_date) as date,
        year(return_date) as year,
        ceil(month(return_date)/4) as quarter,
        month(return_date) as month,
        dayofmonth(return_date) as day_of_month
    from rental
    where return_date is not null;
    
%%sql 
    select count(*) from payment
    where date(payment_date) not in (select date from date_dimension);
```

| <img src="../images/q9_star.jpeg"> |
| :---: |
| __Sakila Dimensions__ |

| <img src="../images/q9_star_2.jpeg"> |
| :---: |
| __Sakila Star__ |

| <img src="../images/sakila_2_star.jpeg"> |
| :---: |
| __Sakila Star__ |

In [ ]:
#### Operations

- Write three queries demonstrating.
    1. A roll-up operation.
    2. A slice operation.
    3. A dice operaton.
    
<u>Roll-Up:</u>

"Roll-up: A roll-up involves summarizing the data along a dimension(s)."

In [60]:
%%sql
 select count(rental_id) as count, sum(amount) as revenue, date_dimension.year, date_dimension.quarter
from rental_payment_facts join date_dimension
on 
rental_payment_facts.rental_date = date_dimension.date
group by date_dimension.year, date_dimension.quarter;

2 rows affected.

[(15862, Decimal('66892.38'), 2005, 2), (182, Decimal('514.18'), 2006, 1)]

In [ ]:
<u>Slice</u>

In [61]:
%%sql
 select rental_id, amount 
from rental_payment_facts join customer_location_dimension
on 
rental_payment_facts.customer_id = customer_location_dimension.customer_id
where customer_location_dimension.country="United States"

968 rows affected.

[(320, Decimal('4.99')),
 (2128, Decimal('2.99')),
 (5636, Decimal('2.99')),
 (5755, Decimal('6.99')),
 (7346, Decimal('4.99')),
 (7376, Decimal('5.99')),
 (7459, Decimal('5.99')),
 (8230, Decimal('5.99')),
 (8598, Decimal('2.99')),
 (8705, Decimal('5.99')),
 (9031, Decimal('4.99')),
 (9236, Decimal('10.99')),
 (9248, Decimal('0.99')),
 (9296, Decimal('6.99')),
 (9465, Decimal('6.99')),
 (10136, Decimal('2.99')),
 (10466, Decimal('0.99')),
 (10918, Decimal('0.99')),
 (11087, Decimal('5.99')),
 (11177, Decimal('6.99')),
 (11256, Decimal('2.99')),
 (11614, Decimal('2.99')),
 (12963, Decimal('2.99')),
 (14475, Decimal('4.99')),
 (14743, Decimal('5.99')),
 (15145, Decimal('4.99')),
 (15907, Decimal('4.99')),
 (57, Decimal('4.99')),
 (577, Decimal('2.99')),
 (916, Decimal('0.99')),
 (1575, Decimal('3.99')),
 (1841, Decimal('2.99')),
 (1966, Decimal('0.99')),
 (2345, Decimal('0.99')),
 (3983, Decimal('0.99')),
 (4278, Decimal('2.99')),
 (5553, Decimal('0.99')),
 (6211, Decimal('5.99')),
 (6248, Decimal('7.99')),
 (6686, Decimal('0.99')),
 (7099, Decimal('2.99')),
 (7136, Decimal('2.99')),
 (8101, Decimal('0.99')),
 (10271, Decimal('2.99')),
 (11023, Decimal('2.99')),
 (11398, Decimal('3.99')),
 (11591, Decimal('6.99')),
 (11727, Decimal('0.99')),
 (11853, Decimal('0.99')),
 (12254, Decimal('2.99')),
 (13451, Decimal('6.99')),
 (14329, Decimal('7.99')),
 (14377, Decimal('4.99')),
 (15509, Decimal('5.99')),
 (15603, Decimal('0.99')),
 (151, Decimal('0.99')),
 (346, Decimal('9.99')),
 (525, Decimal('5.99')),
 (671, Decimal('2.99')),
 (815, Decimal('0.99')),
 (1360, Decimal('4.99')),
 (3707, Decimal('2.99')),
 (4952, Decimal('0.99')),
 (5104, Decimal('0.99')),
 (5317, Decimal('7.99')),
 (5383, Decimal('4.99')),
 (5565, Decimal('7.99')),
 (8035, Decimal('6.99')),
 (8042, Decimal('0.99')),
 (8548, Decimal('3.99')),
 (8836, Decimal('4.99')),
 (9438, Decimal('4.99')),
 (9592, Decimal('2.99')),
 (10348, Decimal('2.99')),
 (10526, Decimal('6.99')),
 (11480, Decimal('4.99')),
 (11528, Decimal('3.99')),
 (12668, Decimal('2.99')),
 (13757, Decimal('4.99')),
 (13780, Decimal('4.99')),
 (15015, Decimal('6.99')),
 (15373, Decimal('0.99')),
 (16045, Decimal('0.99')),
 (119, Decimal('4.99')),
 (661, Decimal('4.99')),
 (1028, Decimal('4.99')),
 (1373, Decimal('1.99')),
 (1477, Decimal('0.99')),
 (3525, Decimal('9.99')),
 (5230, Decimal('2.99')),
 (5304, Decimal('5.99')),
 (5473, Decimal('7.99')),
 (5606, Decimal('4.99')),
 (7207, Decimal('5.99')),
 (7398, Decimal('6.99')),
 (7636, Decimal('5.99')),
 (8495, Decimal('4.99')),
 (8693, Decimal('0.99')),
 (8880, Decimal('0.99')),
 (9649, Decimal('0.99')),
 (10244, Decimal('4.99')),
 (10780, Decimal('2.99')),
 (10894, Decimal('0.99')),
 (11302, Decimal('2.99')),
 (11685, Decimal('4.99')),
 (11751, Decimal('6.99')),
 (12184, Decimal('0.99')),
 (12725, Decimal('4.99')),
 (13098, Decimal('2.99')),
 (13302, Decimal('2.99')),
 (13868, Decimal('0.99')),
 (13882, Decimal('2.99')),
 (14221, Decimal('6.99')),
 (14512, Decimal('4.99')),
 (14617, Decimal('4.99')),
 (14903, Decimal('4.99')),
 (885, Decimal('0.99')),
 (947, Decimal('4.99')),
 (1241, Decimal('6.99')),
 (1486, Decimal('0.99')),
 (1587, Decimal('0.99')),
 (3021, Decimal('4.99')),
 (3035, Decimal('5.99')),
 (3287, Decimal('0.99')),
 (3327, Decimal('3.99')),
 (3843, Decimal('2.99')),
 (4159, Decimal('4.99')),
 (5292, Decimal('2.99')),
 (8360, Decimal('4.99')),
 (10080, Decimal('0.99')),
 (10815, Decimal('2.99')),
 (11297, Decimal('5.99')),
 (11988, Decimal('0.99')),
 (13512, Decimal('8.99')),
 (14574, Decimal('1.99')),
 (14594, Decimal('2.99')),
 (14821, Decimal('4.99')),
 (15464, Decimal('6.99')),
 (15591, Decimal('0.99')),
 (1818, Decimal('0.99')),
 (3923, Decimal('8.99')),
 (4587, Decimal('4.99')),
 (5585, Decimal('6.99')),
 (5788, Decimal('4.99')),
 (5832, Decimal('4.99')),
 (6769, Decimal('3.99')),
 (6847, Decimal('8.99')),
 (8311, Decimal('5.99')),
 (9007, Decimal('0.99')),
 (9546, Decimal('4.99')),
 (9549, Decimal('3.99')),
 (9795, Decimal('0.99')),
 (9938, Decimal('2.99')),
 (10148, Decimal('0.99')),
 (10288, Decimal('6.99')),
 (11902, Decimal('4.99')),
 (12342, Decimal('2.99')),
 (12515, Decimal('0.99')),
 (12954, Decimal('7.99')),
 (13089, Decimal('0.99')),
 (13624, Decimal('8.99')),
 (14931, Decimal('3.99')),
 (15060, Decimal('5.99')),
 (15229, Decimal('2.99')),
 (1266, Decimal('3.99')),
 (1413, Decimal('7.99')),
 (1437, Decimal('0.99')),
 (2372, Decimal('0.99')),
 (2973, Decimal('5.99')),
 (3308, Decimal('0.99')),
 (3463, Decimal('0.99')),
 (3720, Decimal('2.99')),
 (3742, Decimal('2.99')),
 (4961, Decimal('4.99')),
 (5558, Decimal('0.99')),
 (5678, Decimal('4.99')),
 (5696, Decimal('2.99')),
 (8125, Decimal('4.99')),
 (8437, Decimal('6.99')),
 (9093, Decimal('3.99')),
 (9315, Decimal('4.99')),
 (9662, Decimal('3.99')),
 (10031, Decimal('4.99')),
 (11864, Decimal('4.99')),
 (11984, Decimal('3.99')),
 (12199, Decimal('4.99')),
 (12525, Decimal('4.99')),
 (13514, Decimal('0.99')),
 (13855, Decimal('4.99')),
 (14462, Decimal('3.99')),
 (15989, Decimal('4.99')),
 (396, Decimal('0.99')),
 (701, Decimal('2.99')),
 (1835, Decimal('4.99')),
 (1930, Decimal('2.99')),
 (2193, Decimal('4.99')),
 (3018, Decimal('2.99')),
 (5351, Decimal('4.99')),
 (5385, Decimal('2.99')),
 (6550, Decimal('2.99')),
 (7691, Decimal('4.99')),
 (7761, Decimal('4.99')),
 (9217, Decimal('4.99')),
 (9321, Decimal('6.99')),
 (9609, Decimal('4.99')),
 (9830, Decimal('5.99')),
 (9911, Decimal('3.99')),
 (10038, Decimal('2.99')),
 (10596, Decimal('5.99')),
 (11019, Decimal('2.99')),
 (11599, Decimal('7.99')),
 (11659, Decimal('4.99')),
 (11863, Decimal('3.99')),
 (13611, Decimal('8.99')),
 (13879, Decimal('2.99')),
 (14049, Decimal('5.99')),
 (14358, Decimal('0.99')),
 (15304, Decimal('4.99')),
 (15671, Decimal('0.99')),
 (15687, Decimal('8.99')),
 (15756, Decimal('2.99')),
 (351, Decimal('5.99')),
 (1766, Decimal('4.99')),
 (2217, Decimal('0.99')),
 (3263, Decimal('4.99')),
 (4966, Decimal('0.99')),
 (5829, Decimal('1.99')),
 (6377, Decimal('0.99')),
 (6507, Decimal('1.99')),
 (7196, Decimal('2.99')),
 (7850, Decimal('4.99')),
 (7956, Decimal('4.99')),
 (8314, Decimal('3.99')),
 (8760, Decimal('7.99')),
 (8881, Decimal('4.99')),
 (10045, Decimal('1.99')),
 (12538, Decimal('2.99')),
 (13193, Decimal('6.99')),
 (14394, Decimal('5.99')),
 (14595, Decimal('7.99')),
 (14924, Decimal('2.99')),
 (15731, Decimal('0.99')),
 (1586, Decimal('4.99')),
 (1687, Decimal('2.99')),
 (2332, Decimal('6.99')),
 (3171, Decimal('0.99')),
 (6286, Decimal('4.99')),
 (6407, Decimal('9.99')),
 (6571, Decimal('0.99')),
 (6918, Decimal('2.99')),
 (7170, Decimal('4.99')),
 (9094, Decimal('4.99')),
 (9404, Decimal('0.99')),
 (10342, Decimal('6.99')),
 (11430, Decimal('3.99')),
 (12086, Decimal('4.99')),
 (12675, Decimal('4.99')),
 (13053, Decimal('10.99')),
 (15261, Decimal('2.99')),
 (15852, Decimal('2.99')),
 (762, Decimal('7.99')),
 (1073, Decimal('4.99')),
 (1209, Decimal('7.99')),
 (1724, Decimal('1.99')),
 (2099, Decimal('2.99')),
 (2242, Decimal('3.99')),
 (2342, Decimal('2.99')),
 (2800, Decimal('0.99')),
 (3131, Decimal('4.99')),
 (4849, Decimal('6.99')),
 (5000, Decimal('4.99')),
 (6102, Decimal('7.99')),
 (6184, Decimal('6.99')),
 (6327, Decimal('4.99')),
 (6990, Decimal('0.99')),
 (8246, Decimal('3.99')),
 (11173, Decimal('7.99')),
 (11221, Decimal('2.99')),
 (11370, Decimal('0.99')),
 (11392, Decimal('5.99')),
 (11573, Decimal('4.99')),
 (11857, Decimal('4.99')),
 (12129, Decimal('7.99')),
 (12385, Decimal('2.99')),
 (12888, Decimal('4.99')),
 (13606, Decimal('4.99')),
 (13829, Decimal('4.99')),
 (14143, Decimal('2.99')),
 (15842, Decimal('6.99')),
 (764, Decimal('4.99')),
 (1521, Decimal('2.99')),
 (1800, Decimal('2.99')),
 (1996, Decimal('6.99')),
 (2194, Decimal('4.99')),
 (2305, Decimal('5.99')),
 (2383, Decimal('7.99')),
 (2752, Decimal('0.99')),
 (3894, Decimal('2.99')),
 (3939, Decimal('6.99')),
 (4766, Decimal('3.99')),
 (4837, Decimal('0.99')),
 (5091, Decimal('2.99')),
 (5298, Decimal('10.99')),
 (6356, Decimal('4.99')),
 (6940, Decimal('5.99')),
 (7559, Decimal('4.99')),
 (7989, Decimal('6.99')),
 (10154, Decimal('2.99')),
 (10737, Decimal('7.99')),
 (10967, Decimal('0.99')),
 (11561, Decimal('2.99')),
 (12000, Decimal('4.99')),
 (14771, Decimal('3.99')),
 (15479, Decimal('4.99')),
 (15562, Decimal('2.99')),
 (245, Decimal('4.99')),
 (293, Decimal('5.99')),
 (1380, Decimal('0.99')),
 (1790, Decimal('4.99')),
 (2035, Decimal('6.99')),
 (3203, Decimal('8.99')),
 (4117, Decimal('8.99')),
 (5672, Decimal('2.99')),
 (5988, Decimal('4.99')),
 (6416, Decimal('2.99')),
 (6901, Decimal('5.99')),
 (7159, Decimal('2.99')),
 (7732, Decimal('0.99')),
 (7952, Decimal('2.99')),
 (8750, Decimal('2.99')),
 (8957, Decimal('1.99')),
 (9393, Decimal('2.99')),
 (9713, Decimal('1.99')),
 (9801, Decimal('2.99')),
 (11077, Decimal('4.99')),
 (11103, Decimal('6.99')),
 (11272, Decimal('0.99')),
 (11420, Decimal('2.99')),
 (12070, Decimal('1.99')),
 (12421, Decimal('5.99')),
 (13212, Decimal('1.99')),
 (13854, Decimal('2.99')),
 (13926, Decimal('2.99')),
 (14028, Decimal('0.99')),
 (15763, Decimal('2.99')),
 (15796, Decimal('5.99')),
 (15802, Decimal('5.99')),
 (579, Decimal('6.99')),
 (1638, Decimal('2.99')),
 (2645, Decimal('5.99')),
 (3449, Decimal('5.99')),
 (3469, Decimal('4.99')),
 (3862, Decimal('6.99')),
 (4428, Decimal('4.99')),
 (6477, Decimal('4.99')),
 (6946, Decimal('8.99')),
 (7393, Decimal('0.99')),
 (7632, Decimal('4.99')),
 (8593, Decimal('5.99')),
 (8601, Decimal('9.99')),
 (9214, Decimal('4.99')),
 (9235, Decimal('5.99')),
 (9357, Decimal('8.99')),
 (9844, Decimal('4.99')),
 (10262, Decimal('4.99')),
 (10362, Decimal('6.99')),
 (10703, Decimal('2.99')),
 (10748, Decimal('4.99')),
 (10773, Decimal('6.99')),
 (11224, Decimal('4.99')),
 (12363, Decimal('7.99')),
 (12411, Decimal('0.99')),
 (12678, Decimal('2.99')),
 (12939, Decimal('2.99')),
 (13008, Decimal('2.99')),
 (13118, Decimal('4.99')),
 (13405, Decimal('4.99')),
 (13415, Decimal('2.99')),
 (14406, Decimal('3.99')),
 (15196, Decimal('2.99')),
 (15482, Decimal('4.99')),
 (161, Decimal('0.99')),
 (425, Decimal('3.99')),
 (1542, Decimal('3.99')),
 (2049, Decimal('2.99')),
 (2120, Decimal('5.99')),
 (2234, Decimal('0.99')),
 (3509, Decimal('2.99')),
 (3697, Decimal('6.99')),
 (4174, Decimal('2.99')),
 (4349, Decimal('0.99')),
 (4513, Decimal('1.99')),
 (4591, Decimal('3.99')),
 (4784, Decimal('0.99')),
 (5521, Decimal('2.99')),
 (7229, Decimal('0.99')),
 (7863, Decimal('0.99')),
 (7880, Decimal('4.99')),
 (8048, Decimal('8.99')),
 (11055, Decimal('4.99')),
 (11785, Decimal('3.99')),
 (12573, Decimal('4.99')),
 (12840, Decimal('6.99')),
 (13285, Decimal('2.99')),
 (14586, Decimal('5.99')),
 (14953, Decimal('6.99')),
 (15043, Decimal('1.99')),
 (1356, Decimal('0.99')),
 (1379, Decimal('0.99')),
 (1637, Decimal('2.99')),
 (2739, Decimal('9.99')),
 (4708, Decimal('10.99')),
 (4798, Decimal('3.99')),
 (4916, Decimal('6.99')),
 (5115, Decimal('6.99')),
 (7828, Decimal('2.99')),
 (8000, Decimal('4.99')),
 (8940, Decimal('3.99')),
 (10273, Decimal('4.99')),
 (10567, Decimal('0.99')),
 (12156, Decimal('7.99')),
 (12467, Decimal('0.99')),
 (12562, Decimal('3.99')),
 (14563, Decimal('2.99')),
 (14681, Decimal('5.99')),
 (15872, Decimal('4.99')),
 (15920, Decimal('2.99')),
 (242, Decimal('1.99')),
 (278, Decimal('3.99')),
 (1076, Decimal('2.99')),
 (1093, Decimal('2.99')),
 (1112, Decimal('0.99')),
 (1275, Decimal('4.99')),
 (2085, Decimal('2.99')),
 (2868, Decimal('2.99')),
 (4211, Decimal('0.99')),
 (4783, Decimal('3.99')),
 (4984, Decimal('3.99')),
 (5172, Decimal('2.99')),
 (6602, Decimal('7.99')),
 (7417, Decimal('4.99')),
 (7826, Decimal('5.99')),
 (8663, Decimal('4.99')),
 (10563, Decimal('3.99')),
 (10749, Decimal('4.99')),
 (11450, Decimal('2.99')),
 (11474, Decimal('4.99')),
 (12463, Decimal('4.99')),
 (13138, Decimal('2.99')),
 (13350, Decimal('9.99')),
 (13409, Decimal('2.99')),
 (13565, Decimal('0.99')),
 (13726, Decimal('0.99')),
 (13864, Decimal('4.99')),
 (14347, Decimal('4.99')),
 (14567, Decimal('0.99')),
 (15639, Decimal('2.99')),
 (15645, Decimal('2.99')),
 (330, Decimal('7.99')),
 (618, Decimal('4.99')),
 (2066, Decimal('3.99')),
 (2371, Decimal('0.99')),
 (3910, Decimal('0.99')),
 (4541, Decimal('4.99')),
 (4841, Decimal('0.99')),
 (5370, Decimal('2.99')),
 (6617, Decimal('2.99')),
 (7778, Decimal('5.99')),
 (10418, Decimal('4.99')),
 (12241, Decimal('0.99')),
 (13918, Decimal('0.99')),
 (14704, Decimal('0.99')),
 (14885, Decimal('5.99')),
 (7, Decimal('1.99')),
 (98, Decimal('0.99')),
 (678, Decimal('6.99')),
 (703, Decimal('0.99')),
 (750, Decimal('4.99')),
 (1099, Decimal('2.99')),
 (1334, Decimal('3.99')),
 (1909, Decimal('2.99')),
 (2493, Decimal('6.99')),
 (4125, Decimal('9.99')),
 (4804, Decimal('0.99')),
 (4880, Decimal('6.99')),
 (6440, Decimal('2.99')),
 (6626, Decimal('5.99')),
 (6804, Decimal('4.99')),
 (7032, Decimal('4.99')),
 (7537, Decimal('6.99')),
 (7972, Decimal('2.99')),
 (10566, Decimal('2.99')),
 (10908, Decimal('4.99')),
 (11014, Decimal('4.99')),
 (11915, Decimal('3.99')),
 (12344, Decimal('4.99')),
 (12610, Decimal('0.00')),
 (13025, Decimal('3.98')),
 (13142, Decimal('5.99')),
 (13759, Decimal('2.99')),
 (14266, Decimal('4.99')),
 (14693, Decimal('6.99')),
 (15788, Decimal('2.99')),
 (336, Decimal('2.99')),
 (1797, Decimal('3.99')),
 (2414, Decimal('0.99')),
 (2646, Decimal('4.99')),
 (3355, Decimal('2.99')),
 (4396, Decimal('0.99')),
 (4634, Decimal('0.99')),
 (4912, Decimal('9.99')),
 (6301, Decimal('5.99')),
 (6856, Decimal('0.99')),
 (7553, Decimal('2.99')),
 (7596, Decimal('4.99')),
 (8746, Decimal('2.99')),
 (9258, Decimal('2.99')),
 (10479, Decimal('6.99')),
 (11309, Decimal('1.99')),
 (11610, Decimal('4.99')),
 (12589, Decimal('5.99')),
 (12606, Decimal('1.99')),
 (13037, Decimal('3.99')),
 (13860, Decimal('2.99')),
 (13865, Decimal('1.99')),
 (13902, Decimal('0.99')),
 (14063, Decimal('0.99')),
 (14187, Decimal('5.99')),
 (14296, Decimal('2.99')),
 (14483, Decimal('5.99')),
 (14727, Decimal('4.99')),
 (15269, Decimal('2.99')),
 (15496, Decimal('3.99')),
 (736, Decimal('3.99')),
 (860, Decimal('10.99')),
 (1352, Decimal('0.99')),
 (2763, Decimal('4.99')),
 (3064, Decimal('6.99')),
 (3714, Decimal('2.99')),
 (4715, Decimal('0.99')),
 (5186, Decimal('4.99')),
 (5246, Decimal('4.99')),
 (7282, Decimal('5.99')),
 (7842, Decimal('2.99')),
 (9070, Decimal('0.99')),
 (9080, Decimal('1.99')),
 (9102, Decimal('4.99')),
 (9229, Decimal('8.99')),
 (10149, Decimal('5.99')),
 (10691, Decimal('0.99')),
 (10763, Decimal('2.99')),
 (11085, Decimal('2.99')),
 (11636, Decimal('4.99')),
 (11961, Decimal('3.99')),
 (12178, Decimal('5.99')),
 (12251, Decimal('4.99')),
 (12650, Decimal('4.99')),
 (14000, Decimal('4.99')),
 (15718, Decimal('2.99')),
 (15769, Decimal('3.99')),
 (15923, Decimal('4.99')),
 (54, Decimal('4.99')),
 (747, Decimal('4.99')),
 (1012, Decimal('2.99')),
 (1191, Decimal('2.99')),
 (2300, Decimal('2.99')),
 (3042, Decimal('2.99')),
 (3512, Decimal('4.99')),
 (4862, Decimal('3.99')),
 (5754, Decimal('2.99')),
 (6516, Decimal('4.99')),
 (6796, Decimal('2.99')),
 (7561, Decimal('5.99')),
 (7564, Decimal('0.99')),
 (8690, Decimal('0.99')),
 (8697, Decimal('4.99')),
 (9165, Decimal('5.99')),
 (9201, Decimal('5.99')),
 (9919, Decimal('7.99')),
 (10463, Decimal('4.99')),
 (11145, Decimal('0.99')),
 (13665, Decimal('5.99')),
 (14241, Decimal('4.99')),
 (15663, Decimal('3.99')),
 (595, Decimal('1.99')),
 (2900, Decimal('2.99')),
 (3330, Decimal('2.99')),
 (3681, Decimal('4.99')),
 (4019, Decimal('4.99')),
 (4786, Decimal('7.99')),
 (6185, Decimal('5.99')),
 (7415, Decimal('6.99')),
 (7765, Decimal('4.99')),
 (8843, Decimal('4.99')),
 (9194, Decimal('2.99')),
 (9522, Decimal('2.99')),
 (9607, Decimal('0.99')),
 (10186, Decimal('0.99')),
 (10220, Decimal('4.99')),
 (10551, Decimal('6.99')),
 (10600, Decimal('2.99')),
 (10642, Decimal('4.99')),
 (11071, Decimal('2.99')),
 (11390, Decimal('2.99')),
 (11875, Decimal('4.99')),
 (11981, Decimal('2.99')),
 (12278, Decimal('5.99')),
 (14474, Decimal('2.99')),
 (14630, Decimal('7.99')),
 (15839, Decimal('5.99')),
 (69, Decimal('2.99')),
 (1574, Decimal('4.99')),
 (1884, Decimal('0.99')),
 (2166, Decimal('11.99')),
 (3387, Decimal('0.99')),
 (4260, Decimal('4.99')),
 (4638, Decimal('2.99')),
 (5041, Decimal('0.99')),
 (5052, Decimal('2.99')),
 (5582, Decimal('4.99')),
 (5745, Decimal('8.99')),
 (6134, Decimal('7.99')),
 (6619, Decimal('0.99')),
 (8865, Decimal('4.99')),
 (9119, Decimal('4.99')),
 (10426, Decimal('4.99')),
 (10929, Decimal('4.99')),
 (10981, Decimal('2.99')),
 (11035, Decimal('5.99')),
 (11809, Decimal('3.99')),
 (12592, Decimal('3.99')),
 (12846, Decimal('0.99')),
 (13782, Decimal('4.99')),
 (15417, Decimal('2.99')),
 (15612, Decimal('6.99')),
 (589, Decimal('3.99')),
 (2037, Decimal('0.99')),
 (2094, Decimal('0.99')),
 (2168, Decimal('4.99')),
 (2346, Decimal('7.99')),
 (2448, Decimal('4.99')),
 (4002, Decimal('3.99')),
 (4285, Decimal('8.99')),
 (5946, Decimal('2.99')),
 (8869, Decimal('0.99')),
 (9479, Decimal('2.99')),
 (9746, Decimal('7.99')),
 (10571, Decimal('2.99')),
 (10797, Decimal('0.99')),
 (10819, Decimal('4.99')),
 (11765, Decimal('2.99')),
 (11972, Decimal('4.99')),
 (12567, Decimal('3.99')),
 (12590, Decimal('6.99')),
 (12838, Decimal('6.99')),
 (13843, Decimal('2.99')),
 (14946, Decimal('2.99')),
 (15243, Decimal('4.99')),
 (15493, Decimal('4.99')),
 (15820, Decimal('2.99')),
 (704, Decimal('3.99')),
 (967, Decimal('7.99')),
 (1219, Decimal('6.99')),
 (1511, Decimal('5.99')),
 (2885, Decimal('0.99')),
 (2936, Decimal('4.99')),
 (3061, Decimal('2.99')),
 (3603, Decimal('4.99')),
 (3659, Decimal('2.99')),
 (3760, Decimal('2.99')),
 (4124, Decimal('1.99')),
 (5149, Decimal('2.99')),
 (5750, Decimal('5.99')),
 (6656, Decimal('0.99')),
 (6678, Decimal('2.99')),
 (6719, Decimal('2.99')),
 (7894, Decimal('2.99')),
 (8680, Decimal('4.99')),
 (10100, Decimal('4.99')),
 (11259, Decimal('3.99')),
 (11709, Decimal('2.99')),
 (12062, Decimal('2.99')),
 (12394, Decimal('2.99')),
 (12740, Decimal('4.99')),
 (12867, Decimal('0.99')),
 (356, Decimal('2.99')),
 (522, Decimal('2.99')),
 (2389, Decimal('0.99')),
 (2468, Decimal('4.99')),
 (2489, Decimal('1.99')),
 (2514, Decimal('2.99')),
 (3125, Decimal('4.99')),
 (3480, Decimal('3.99')),
 (4351, Decimal('4.99')),
 (5004, Decimal('4.99')),
 (5816, Decimal('0.99')),
 (7625, Decimal('0.99')),
 (8777, Decimal('0.99')),
 (8871, Decimal('9.99')),
 (8993, Decimal('4.99')),
 (9067, Decimal('6.99')),
 (9555, Decimal('0.99')),
 (10327, Decimal('3.99')),
 (12229, Decimal('0.99')),
 (12529, Decimal('0.99')),
 (14009, Decimal('4.99')),
 (14300, Decimal('4.99')),
 (14354, Decimal('5.99')),
 (15939, Decimal('7.99')),
 (95, Decimal('3.99')),
 (171, Decimal('6.99')),
 (516, Decimal('1.99')),
 (894, Decimal('5.99')),
 (1364, Decimal('0.99')),
 (1917, Decimal('3.99')),
 (1923, Decimal('6.99')),
 (4573, Decimal('6.99')),
 (4645, Decimal('2.99')),
 (5212, Decimal('6.99')),
 (5222, Decimal('5.99')),
 (6790, Decimal('5.99')),
 (6994, Decimal('2.99')),
 (7296, Decimal('2.99')),
 (7682, Decimal('5.99')),
 (9177, Decimal('5.99')),
 (9756, Decimal('4.99')),
 (10187, Decimal('2.99')),
 (10484, Decimal('2.99')),
 (10711, Decimal('0.99')),
 (11510, Decimal('6.99')),
 (11530, Decimal('2.99')),
 (11600, Decimal('5.99')),
 (12514, Decimal('2.99')),
 (13449, Decimal('2.99')),
 (14775, Decimal('2.99')),
 (15533, Decimal('4.99')),
 (15988, Decimal('4.99')),
 (744, Decimal('4.99')),
 (2672, Decimal('3.99')),
 (2698, Decimal('0.99')),
 (2726, Decimal('0.99')),
 (4176, Decimal('4.99')),
 (5081, Decimal('4.99')),
 (5168, Decimal('4.99')),
 (5911, Decimal('0.99')),
 (6086, Decimal('3.99')),
 (6096, Decimal('4.99')),
 (6582, Decimal('4.99')),
 (6588, Decimal('4.99')),
 (7081, Decimal('2.99')),
 (8485, Decimal('0.99')),
 (9362, Decimal('0.99')),
 (10291, Decimal('4.99')),
 (10601, Decimal('10.99')),
 (10766, Decimal('4.99')),
 (11236, Decimal('5.99')),
 (14525, Decimal('0.99')),
 (15597, Decimal('0.99')),
 (1024, Decimal('7.99')),

<u>Dice</u>

In [62]:
%%sql
 select rental_id, amount 
from rental_payment_facts join customer_location_dimension
on 
rental_payment_facts.customer_id = customer_location_dimension.customer_id
where customer_location_dimension.country="United States" and
(select year from date_dimension where date_dimension.date=rental_payment_facts.rental_date)=2005;

957 rows affected.

[(320, Decimal('4.99')),
 (2128, Decimal('2.99')),
 (5636, Decimal('2.99')),
 (5755, Decimal('6.99')),
 (7346, Decimal('4.99')),
 (7376, Decimal('5.99')),
 (7459, Decimal('5.99')),
 (8230, Decimal('5.99')),
 (8598, Decimal('2.99')),
 (8705, Decimal('5.99')),
 (9031, Decimal('4.99')),
 (9236, Decimal('10.99')),
 (9248, Decimal('0.99')),
 (9296, Decimal('6.99')),
 (9465, Decimal('6.99')),
 (10136, Decimal('2.99')),
 (10466, Decimal('0.99')),
 (10918, Decimal('0.99')),
 (11087, Decimal('5.99')),
 (11177, Decimal('6.99')),
 (11256, Decimal('2.99')),
 (11614, Decimal('2.99')),
 (12963, Decimal('2.99')),
 (14475, Decimal('4.99')),
 (14743, Decimal('5.99')),
 (15145, Decimal('4.99')),
 (15907, Decimal('4.99')),
 (57, Decimal('4.99')),
 (577, Decimal('2.99')),
 (916, Decimal('0.99')),
 (1575, Decimal('3.99')),
 (1841, Decimal('2.99')),
 (1966, Decimal('0.99')),
 (2345, Decimal('0.99')),
 (3983, Decimal('0.99')),
 (4278, Decimal('2.99')),
 (5553, Decimal('0.99')),
 (6211, Decimal('5.99')),
 (6248, Decimal('7.99')),
 (6686, Decimal('0.99')),
 (7099, Decimal('2.99')),
 (7136, Decimal('2.99')),
 (8101, Decimal('0.99')),
 (10271, Decimal('2.99')),
 (11023, Decimal('2.99')),
 (11398, Decimal('3.99')),
 (11591, Decimal('6.99')),
 (11727, Decimal('0.99')),
 (11853, Decimal('0.99')),
 (12254, Decimal('2.99')),
 (13451, Decimal('6.99')),
 (14329, Decimal('7.99')),
 (14377, Decimal('4.99')),
 (15509, Decimal('5.99')),
 (15603, Decimal('0.99')),
 (151, Decimal('0.99')),
 (346, Decimal('9.99')),
 (525, Decimal('5.99')),
 (671, Decimal('2.99')),
 (815, Decimal('0.99')),
 (1360, Decimal('4.99')),
 (3707, Decimal('2.99')),
 (4952, Decimal('0.99')),
 (5104, Decimal('0.99')),
 (5317, Decimal('7.99')),
 (5383, Decimal('4.99')),
 (5565, Decimal('7.99')),
 (8035, Decimal('6.99')),
 (8042, Decimal('0.99')),
 (8548, Decimal('3.99')),
 (8836, Decimal('4.99')),
 (9438, Decimal('4.99')),
 (9592, Decimal('2.99')),
 (10348, Decimal('2.99')),
 (10526, Decimal('6.99')),
 (11480, Decimal('4.99')),
 (11528, Decimal('3.99')),
 (12668, Decimal('2.99')),
 (13757, Decimal('4.99')),
 (15015, Decimal('6.99')),
 (15373, Decimal('0.99')),
 (16045, Decimal('0.99')),
 (119, Decimal('4.99')),
 (661, Decimal('4.99')),
 (1028, Decimal('4.99')),
 (1373, Decimal('1.99')),
 (1477, Decimal('0.99')),
 (3525, Decimal('9.99')),
 (5230, Decimal('2.99')),
 (5304, Decimal('5.99')),
 (5473, Decimal('7.99')),
 (5606, Decimal('4.99')),
 (7207, Decimal('5.99')),
 (7398, Decimal('6.99')),
 (7636, Decimal('5.99')),
 (8495, Decimal('4.99')),
 (8693, Decimal('0.99')),
 (8880, Decimal('0.99')),
 (9649, Decimal('0.99')),
 (10244, Decimal('4.99')),
 (10780, Decimal('2.99')),
 (10894, Decimal('0.99')),
 (11302, Decimal('2.99')),
 (11685, Decimal('4.99')),
 (11751, Decimal('6.99')),
 (12184, Decimal('0.99')),
 (12725, Decimal('4.99')),
 (13098, Decimal('2.99')),
 (13302, Decimal('2.99')),
 (13868, Decimal('0.99')),
 (13882, Decimal('2.99')),
 (14221, Decimal('6.99')),
 (14512, Decimal('4.99')),
 (14617, Decimal('4.99')),
 (14903, Decimal('4.99')),
 (885, Decimal('0.99')),
 (947, Decimal('4.99')),
 (1241, Decimal('6.99')),
 (1486, Decimal('0.99')),
 (1587, Decimal('0.99')),
 (3021, Decimal('4.99')),
 (3035, Decimal('5.99')),
 (3287, Decimal('0.99')),
 (3327, Decimal('3.99')),
 (3843, Decimal('2.99')),
 (4159, Decimal('4.99')),
 (5292, Decimal('2.99')),
 (8360, Decimal('4.99')),
 (10080, Decimal('0.99')),
 (10815, Decimal('2.99')),
 (11297, Decimal('5.99')),
 (11988, Decimal('0.99')),
 (13512, Decimal('8.99')),
 (14574, Decimal('1.99')),
 (14594, Decimal('2.99')),
 (14821, Decimal('4.99')),
 (15464, Decimal('6.99')),
 (15591, Decimal('0.99')),
 (1818, Decimal('0.99')),
 (3923, Decimal('8.99')),
 (4587, Decimal('4.99')),
 (5585, Decimal('6.99')),
 (5788, Decimal('4.99')),
 (5832, Decimal('4.99')),
 (6769, Decimal('3.99')),
 (6847, Decimal('8.99')),
 (8311, Decimal('5.99')),
 (9007, Decimal('0.99')),
 (9546, Decimal('4.99')),
 (9549, Decimal('3.99')),
 (9795, Decimal('0.99')),
 (9938, Decimal('2.99')),
 (10148, Decimal('0.99')),
 (10288, Decimal('6.99')),
 (11902, Decimal('4.99')),
 (12342, Decimal('2.99')),
 (12515, Decimal('0.99')),
 (12954, Decimal('7.99')),
 (13089, Decimal('0.99')),
 (13624, Decimal('8.99')),
 (14931, Decimal('3.99')),
 (15060, Decimal('5.99')),
 (15229, Decimal('2.99')),
 (1266, Decimal('3.99')),
 (1413, Decimal('7.99')),
 (1437, Decimal('0.99')),
 (2372, Decimal('0.99')),
 (2973, Decimal('5.99')),
 (3308, Decimal('0.99')),
 (3463, Decimal('0.99')),
 (3720, Decimal('2.99')),
 (3742, Decimal('2.99')),
 (4961, Decimal('4.99')),
 (5558, Decimal('0.99')),
 (5678, Decimal('4.99')),
 (5696, Decimal('2.99')),
 (8125, Decimal('4.99')),
 (8437, Decimal('6.99')),
 (9093, Decimal('3.99')),
 (9315, Decimal('4.99')),
 (9662, Decimal('3.99')),
 (10031, Decimal('4.99')),
 (11864, Decimal('4.99')),
 (11984, Decimal('3.99')),
 (12199, Decimal('4.99')),
 (12525, Decimal('4.99')),
 (13514, Decimal('0.99')),
 (13855, Decimal('4.99')),
 (14462, Decimal('3.99')),
 (15989, Decimal('4.99')),
 (396, Decimal('0.99')),
 (701, Decimal('2.99')),
 (1835, Decimal('4.99')),
 (1930, Decimal('2.99')),
 (2193, Decimal('4.99')),
 (3018, Decimal('2.99')),
 (5351, Decimal('4.99')),
 (5385, Decimal('2.99')),
 (6550, Decimal('2.99')),
 (7691, Decimal('4.99')),
 (7761, Decimal('4.99')),
 (9217, Decimal('4.99')),
 (9321, Decimal('6.99')),
 (9609, Decimal('4.99')),
 (9830, Decimal('5.99')),
 (9911, Decimal('3.99')),
 (10038, Decimal('2.99')),
 (10596, Decimal('5.99')),
 (11019, Decimal('2.99')),
 (11599, Decimal('7.99')),
 (11659, Decimal('4.99')),
 (11863, Decimal('3.99')),
 (13611, Decimal('8.99')),
 (13879, Decimal('2.99')),
 (14049, Decimal('5.99')),
 (14358, Decimal('0.99')),
 (15304, Decimal('4.99')),
 (15671, Decimal('0.99')),
 (15687, Decimal('8.99')),
 (15756, Decimal('2.99')),
 (351, Decimal('5.99')),
 (1766, Decimal('4.99')),
 (2217, Decimal('0.99')),
 (3263, Decimal('4.99')),
 (4966, Decimal('0.99')),
 (5829, Decimal('1.99')),
 (6377, Decimal('0.99')),
 (6507, Decimal('1.99')),
 (7196, Decimal('2.99')),
 (7850, Decimal('4.99')),
 (7956, Decimal('4.99')),
 (8314, Decimal('3.99')),
 (8760, Decimal('7.99')),
 (8881, Decimal('4.99')),
 (10045, Decimal('1.99')),
 (12538, Decimal('2.99')),
 (13193, Decimal('6.99')),
 (14394, Decimal('5.99')),
 (14595, Decimal('7.99')),
 (14924, Decimal('2.99')),
 (15731, Decimal('0.99')),
 (1586, Decimal('4.99')),
 (1687, Decimal('2.99')),
 (2332, Decimal('6.99')),
 (3171, Decimal('0.99')),
 (6286, Decimal('4.99')),
 (6407, Decimal('9.99')),
 (6571, Decimal('0.99')),
 (6918, Decimal('2.99')),
 (7170, Decimal('4.99')),
 (9094, Decimal('4.99')),
 (9404, Decimal('0.99')),
 (10342, Decimal('6.99')),
 (11430, Decimal('3.99')),
 (12086, Decimal('4.99')),
 (12675, Decimal('4.99')),
 (13053, Decimal('10.99')),
 (15261, Decimal('2.99')),
 (15852, Decimal('2.99')),
 (762, Decimal('7.99')),
 (1073, Decimal('4.99')),
 (1209, Decimal('7.99')),
 (1724, Decimal('1.99')),
 (2099, Decimal('2.99')),
 (2242, Decimal('3.99')),
 (2342, Decimal('2.99')),
 (2800, Decimal('0.99')),
 (3131, Decimal('4.99')),
 (4849, Decimal('6.99')),
 (5000, Decimal('4.99')),
 (6102, Decimal('7.99')),
 (6184, Decimal('6.99')),
 (6327, Decimal('4.99')),
 (6990, Decimal('0.99')),
 (8246, Decimal('3.99')),
 (11173, Decimal('7.99')),
 (11221, Decimal('2.99')),
 (11370, Decimal('0.99')),
 (11392, Decimal('5.99')),
 (11573, Decimal('4.99')),
 (11857, Decimal('4.99')),
 (12129, Decimal('7.99')),
 (12385, Decimal('2.99')),
 (12888, Decimal('4.99')),
 (13606, Decimal('4.99')),
 (13829, Decimal('4.99')),
 (14143, Decimal('2.99')),
 (15842, Decimal('6.99')),
 (764, Decimal('4.99')),
 (1521, Decimal('2.99')),
 (1800, Decimal('2.99')),
 (1996, Decimal('6.99')),
 (2194, Decimal('4.99')),
 (2305, Decimal('5.99')),
 (2383, Decimal('7.99')),
 (2752, Decimal('0.99')),
 (3894, Decimal('2.99')),
 (3939, Decimal('6.99')),
 (4766, Decimal('3.99')),
 (4837, Decimal('0.99')),
 (5091, Decimal('2.99')),
 (5298, Decimal('10.99')),
 (6356, Decimal('4.99')),
 (6940, Decimal('5.99')),
 (7559, Decimal('4.99')),
 (7989, Decimal('6.99')),
 (10154, Decimal('2.99')),
 (10737, Decimal('7.99')),
 (10967, Decimal('0.99')),
 (11561, Decimal('2.99')),
 (12000, Decimal('4.99')),
 (14771, Decimal('3.99')),
 (15479, Decimal('4.99')),
 (15562, Decimal('2.99')),
 (245, Decimal('4.99')),
 (293, Decimal('5.99')),
 (1380, Decimal('0.99')),
 (1790, Decimal('4.99')),
 (2035, Decimal('6.99')),
 (3203, Decimal('8.99')),
 (4117, Decimal('8.99')),
 (5672, Decimal('2.99')),
 (5988, Decimal('4.99')),
 (6416, Decimal('2.99')),
 (6901, Decimal('5.99')),
 (7159, Decimal('2.99')),
 (7732, Decimal('0.99')),
 (7952, Decimal('2.99')),
 (8750, Decimal('2.99')),
 (8957, Decimal('1.99')),
 (9393, Decimal('2.99')),
 (9713, Decimal('1.99')),
 (9801, Decimal('2.99')),
 (11077, Decimal('4.99')),
 (11103, Decimal('6.99')),
 (11272, Decimal('0.99')),
 (11420, Decimal('2.99')),
 (12070, Decimal('1.99')),
 (12421, Decimal('5.99')),
 (13212, Decimal('1.99')),
 (13854, Decimal('2.99')),
 (13926, Decimal('2.99')),
 (14028, Decimal('0.99')),
 (15763, Decimal('2.99')),
 (15796, Decimal('5.99')),
 (15802, Decimal('5.99')),
 (579, Decimal('6.99')),
 (1638, Decimal('2.99')),
 (2645, Decimal('5.99')),
 (3449, Decimal('5.99')),
 (3469, Decimal('4.99')),
 (3862, Decimal('6.99')),
 (4428, Decimal('4.99')),
 (6477, Decimal('4.99')),
 (6946, Decimal('8.99')),
 (7393, Decimal('0.99')),
 (7632, Decimal('4.99')),
 (8593, Decimal('5.99')),
 (8601, Decimal('9.99')),
 (9214, Decimal('4.99')),
 (9235, Decimal('5.99')),
 (9357, Decimal('8.99')),
 (9844, Decimal('4.99')),
 (10262, Decimal('4.99')),
 (10362, Decimal('6.99')),
 (10703, Decimal('2.99')),
 (10748, Decimal('4.99')),
 (10773, Decimal('6.99')),
 (11224, Decimal('4.99')),
 (12363, Decimal('7.99')),
 (12411, Decimal('0.99')),
 (12678, Decimal('2.99')),
 (12939, Decimal('2.99')),
 (13118, Decimal('4.99')),
 (13405, Decimal('4.99')),
 (13415, Decimal('2.99')),
 (14406, Decimal('3.99')),
 (15196, Decimal('2.99')),
 (15482, Decimal('4.99')),
 (161, Decimal('0.99')),
 (425, Decimal('3.99')),
 (1542, Decimal('3.99')),
 (2049, Decimal('2.99')),
 (2120, Decimal('5.99')),
 (2234, Decimal('0.99')),
 (3509, Decimal('2.99')),
 (3697, Decimal('6.99')),
 (4174, Decimal('2.99')),
 (4349, Decimal('0.99')),
 (4513, Decimal('1.99')),
 (4591, Decimal('3.99')),
 (4784, Decimal('0.99')),
 (5521, Decimal('2.99')),
 (7229, Decimal('0.99')),
 (7863, Decimal('0.99')),
 (7880, Decimal('4.99')),
 (8048, Decimal('8.99')),
 (11055, Decimal('4.99')),
 (11785, Decimal('3.99')),
 (12573, Decimal('4.99')),
 (12840, Decimal('6.99')),
 (13285, Decimal('2.99')),
 (14586, Decimal('5.99')),
 (14953, Decimal('6.99')),
 (15043, Decimal('1.99')),
 (1356, Decimal('0.99')),
 (1379, Decimal('0.99')),
 (1637, Decimal('2.99')),
 (2739, Decimal('9.99')),
 (4708, Decimal('10.99')),
 (4798, Decimal('3.99')),
 (4916, Decimal('6.99')),
 (5115, Decimal('6.99')),
 (7828, Decimal('2.99')),
 (8000, Decimal('4.99')),
 (8940, Decimal('3.99')),
 (10273, Decimal('4.99')),
 (10567, Decimal('0.99')),
 (12156, Decimal('7.99')),
 (12467, Decimal('0.99')),
 (12562, Decimal('3.99')),
 (14563, Decimal('2.99')),
 (14681, Decimal('5.99')),
 (15872, Decimal('4.99')),
 (15920, Decimal('2.99')),
 (242, Decimal('1.99')),
 (278, Decimal('3.99')),
 (1076, Decimal('2.99')),
 (1093, Decimal('2.99')),
 (1112, Decimal('0.99')),
 (1275, Decimal('4.99')),
 (2085, Decimal('2.99')),
 (2868, Decimal('2.99')),
 (4211, Decimal('0.99')),
 (4783, Decimal('3.99')),
 (4984, Decimal('3.99')),
 (5172, Decimal('2.99')),
 (6602, Decimal('7.99')),
 (7417, Decimal('4.99')),
 (7826, Decimal('5.99')),
 (8663, Decimal('4.99')),
 (10563, Decimal('3.99')),
 (10749, Decimal('4.99')),
 (11450, Decimal('2.99')),
 (11474, Decimal('4.99')),
 (12463, Decimal('4.99')),
 (13138, Decimal('2.99')),
 (13350, Decimal('9.99')),
 (13409, Decimal('2.99')),
 (13565, Decimal('0.99')),
 (13726, Decimal('0.99')),
 (13864, Decimal('4.99')),
 (14347, Decimal('4.99')),
 (14567, Decimal('0.99')),
 (15639, Decimal('2.99')),
 (330, Decimal('7.99')),
 (618, Decimal('4.99')),
 (2066, Decimal('3.99')),
 (2371, Decimal('0.99')),
 (3910, Decimal('0.99')),
 (4541, Decimal('4.99')),
 (4841, Decimal('0.99')),
 (5370, Decimal('2.99')),
 (6617, Decimal('2.99')),
 (7778, Decimal('5.99')),
 (10418, Decimal('4.99')),
 (12241, Decimal('0.99')),
 (13918, Decimal('0.99')),
 (14704, Decimal('0.99')),
 (14885, Decimal('5.99')),
 (7, Decimal('1.99')),
 (98, Decimal('0.99')),
 (678, Decimal('6.99')),
 (703, Decimal('0.99')),
 (750, Decimal('4.99')),
 (1099, Decimal('2.99')),
 (1334, Decimal('3.99')),
 (1909, Decimal('2.99')),
 (2493, Decimal('6.99')),
 (4125, Decimal('9.99')),
 (4804, Decimal('0.99')),
 (4880, Decimal('6.99')),
 (6440, Decimal('2.99')),
 (6626, Decimal('5.99')),
 (6804, Decimal('4.99')),
 (7032, Decimal('4.99')),
 (7537, Decimal('6.99')),
 (7972, Decimal('2.99')),
 (10566, Decimal('2.99')),
 (10908, Decimal('4.99')),
 (11014, Decimal('4.99')),
 (11915, Decimal('3.99')),
 (12344, Decimal('4.99')),
 (13142, Decimal('5.99')),
 (13759, Decimal('2.99')),
 (14266, Decimal('4.99')),
 (14693, Decimal('6.99')),
 (15788, Decimal('2.99')),
 (336, Decimal('2.99')),
 (1797, Decimal('3.99')),
 (2414, Decimal('0.99')),
 (2646, Decimal('4.99')),
 (3355, Decimal('2.99')),
 (4396, Decimal('0.99')),
 (4634, Decimal('0.99')),
 (4912, Decimal('9.99')),
 (6301, Decimal('5.99')),
 (6856, Decimal('0.99')),
 (7553, Decimal('2.99')),
 (7596, Decimal('4.99')),
 (8746, Decimal('2.99')),
 (9258, Decimal('2.99')),
 (10479, Decimal('6.99')),
 (11309, Decimal('1.99')),
 (11610, Decimal('4.99')),
 (12589, Decimal('5.99')),
 (12606, Decimal('1.99')),
 (13037, Decimal('3.99')),
 (13860, Decimal('2.99')),
 (13865, Decimal('1.99')),
 (13902, Decimal('0.99')),
 (14063, Decimal('0.99')),
 (14187, Decimal('5.99')),
 (14296, Decimal('2.99')),
 (14483, Decimal('5.99')),
 (14727, Decimal('4.99')),
 (15269, Decimal('2.99')),
 (15496, Decimal('3.99')),
 (736, Decimal('3.99')),
 (860, Decimal('10.99')),
 (1352, Decimal('0.99')),
 (2763, Decimal('4.99')),
 (3064, Decimal('6.99')),
 (3714, Decimal('2.99')),
 (4715, Decimal('0.99')),
 (5186, Decimal('4.99')),
 (5246, Decimal('4.99')),
 (7282, Decimal('5.99')),
 (7842, Decimal('2.99')),
 (9070, Decimal('0.99')),
 (9080, Decimal('1.99')),
 (9102, Decimal('4.99')),
 (9229, Decimal('8.99')),
 (10149, Decimal('5.99')),
 (10691, Decimal('0.99')),
 (10763, Decimal('2.99')),
 (11085, Decimal('2.99')),
 (11636, Decimal('4.99')),
 (11961, Decimal('3.99')),
 (12178, Decimal('5.99')),
 (12251, Decimal('4.99')),
 (12650, Decimal('4.99')),
 (14000, Decimal('4.99')),
 (15718, Decimal('2.99')),
 (15769, Decimal('3.99')),
 (15923, Decimal('4.99')),
 (54, Decimal('4.99')),
 (747, Decimal('4.99')),
 (1012, Decimal('2.99')),
 (1191, Decimal('2.99')),
 (2300, Decimal('2.99')),
 (3042, Decimal('2.99')),
 (3512, Decimal('4.99')),
 (4862, Decimal('3.99')),
 (5754, Decimal('2.99')),
 (6516, Decimal('4.99')),
 (6796, Decimal('2.99')),
 (7561, Decimal('5.99')),
 (7564, Decimal('0.99')),
 (8690, Decimal('0.99')),
 (8697, Decimal('4.99')),
 (9165, Decimal('5.99')),
 (9201, Decimal('5.99')),
 (9919, Decimal('7.99')),
 (10463, Decimal('4.99')),
 (11145, Decimal('0.99')),
 (13665, Decimal('5.99')),
 (14241, Decimal('4.99')),
 (15663, Decimal('3.99')),
 (595, Decimal('1.99')),
 (2900, Decimal('2.99')),
 (3330, Decimal('2.99')),
 (3681, Decimal('4.99')),
 (4019, Decimal('4.99')),
 (4786, Decimal('7.99')),
 (6185, Decimal('5.99')),
 (7415, Decimal('6.99')),
 (7765, Decimal('4.99')),
 (8843, Decimal('4.99')),
 (9194, Decimal('2.99')),
 (9522, Decimal('2.99')),
 (9607, Decimal('0.99')),
 (10186, Decimal('0.99')),
 (10220, Decimal('4.99')),
 (10551, Decimal('6.99')),
 (10600, Decimal('2.99')),
 (10642, Decimal('4.99')),
 (11071, Decimal('2.99')),
 (11390, Decimal('2.99')),
 (11875, Decimal('4.99')),
 (11981, Decimal('2.99')),
 (12278, Decimal('5.99')),
 (14474, Decimal('2.99')),
 (14630, Decimal('7.99')),
 (15839, Decimal('5.99')),
 (69, Decimal('2.99')),
 (1574, Decimal('4.99')),
 (1884, Decimal('0.99')),
 (2166, Decimal('11.99')),
 (3387, Decimal('0.99')),
 (4260, Decimal('4.99')),
 (4638, Decimal('2.99')),
 (5041, Decimal('0.99')),
 (5052, Decimal('2.99')),
 (5582, Decimal('4.99')),
 (5745, Decimal('8.99')),
 (6134, Decimal('7.99')),
 (6619, Decimal('0.99')),
 (8865, Decimal('4.99')),
 (9119, Decimal('4.99')),
 (10426, Decimal('4.99')),
 (10929, Decimal('4.99')),
 (10981, Decimal('2.99')),
 (11035, Decimal('5.99')),
 (11809, Decimal('3.99')),
 (12592, Decimal('3.99')),
 (12846, Decimal('0.99')),
 (13782, Decimal('4.99')),
 (15417, Decimal('2.99')),
 (15612, Decimal('6.99')),
 (589, Decimal('3.99')),
 (2037, Decimal('0.99')),
 (2094, Decimal('0.99')),
 (2168, Decimal('4.99')),
 (2346, Decimal('7.99')),
 (2448, Decimal('4.99')),
 (4002, Decimal('3.99')),
 (4285, Decimal('8.99')),
 (5946, Decimal('2.99')),
 (8869, Decimal('0.99')),
 (9479, Decimal('2.99')),
 (9746, Decimal('7.99')),
 (10571, Decimal('2.99')),
 (10797, Decimal('0.99')),
 (10819, Decimal('4.99')),
 (11765, Decimal('2.99')),
 (11972, Decimal('4.99')),
 (12567, Decimal('3.99')),
 (12590, Decimal('6.99')),
 (12838, Decimal('6.99')),
 (13843, Decimal('2.99')),
 (14946, Decimal('2.99')),
 (15243, Decimal('4.99')),
 (15493, Decimal('4.99')),
 (15820, Decimal('2.99')),
 (704, Decimal('3.99')),
 (967, Decimal('7.99')),
 (1219, Decimal('6.99')),
 (1511, Decimal('5.99')),
 (2885, Decimal('0.99')),
 (2936, Decimal('4.99')),
 (3061, Decimal('2.99')),
 (3603, Decimal('4.99')),
 (3659, Decimal('2.99')),
 (3760, Decimal('2.99')),
 (4124, Decimal('1.99')),
 (5149, Decimal('2.99')),
 (5750, Decimal('5.99')),
 (6656, Decimal('0.99')),
 (6678, Decimal('2.99')),
 (6719, Decimal('2.99')),
 (7894, Decimal('2.99')),
 (8680, Decimal('4.99')),
 (10100, Decimal('4.99')),
 (11259, Decimal('3.99')),
 (12062, Decimal('2.99')),
 (12394, Decimal('2.99')),
 (12740, Decimal('4.99')),
 (12867, Decimal('0.99')),
 (356, Decimal('2.99')),
 (522, Decimal('2.99')),
 (2389, Decimal('0.99')),
 (2468, Decimal('4.99')),
 (2489, Decimal('1.99')),
 (2514, Decimal('2.99')),
 (3125, Decimal('4.99')),
 (3480, Decimal('3.99')),
 (4351, Decimal('4.99')),
 (5004, Decimal('4.99')),
 (5816, Decimal('0.99')),
 (7625, Decimal('0.99')),
 (8777, Decimal('0.99')),
 (8871, Decimal('9.99')),
 (8993, Decimal('4.99')),
 (9067, Decimal('6.99')),
 (9555, Decimal('0.99')),
 (10327, Decimal('3.99')),
 (12229, Decimal('0.99')),
 (12529, Decimal('0.99')),
 (14009, Decimal('4.99')),
 (14300, Decimal('4.99')),
 (14354, Decimal('5.99')),
 (15939, Decimal('7.99')),
 (95, Decimal('3.99')),
 (171, Decimal('6.99')),
 (516, Decimal('1.99')),
 (894, Decimal('5.99')),
 (1364, Decimal('0.99')),
 (1917, Decimal('3.99')),
 (1923, Decimal('6.99')),
 (4573, Decimal('6.99')),
 (4645, Decimal('2.99')),
 (5212, Decimal('6.99')),
 (5222, Decimal('5.99')),
 (6790, Decimal('5.99')),
 (6994, Decimal('2.99')),
 (7296, Decimal('2.99')),
 (7682, Decimal('5.99')),
 (9177, Decimal('5.99')),
 (9756, Decimal('4.99')),
 (10187, Decimal('2.99')),
 (10484, Decimal('2.99')),
 (10711, Decimal('0.99')),
 (11510, Decimal('6.99')),
 (11530, Decimal('2.99')),
 (11600, Decimal('5.99')),
 (12514, Decimal('2.99')),
 (13449, Decimal('2.99')),
 (14775, Decimal('2.99')),
 (15533, Decimal('4.99')),
 (15988, Decimal('4.99')),
 (744, Decimal('4.99')),
 (2672, Decimal('3.99')),
 (2698, Decimal('0.99')),
 (2726, Decimal('0.99')),
 (4176, Decimal('4.99')),
 (5081, Decimal('4.99')),
 (5168, Decimal('4.99')),
 (5911, Decimal('0.99')),
 (6086, Decimal('3.99')),
 (6096, Decimal('4.99')),
 (6582, Decimal('4.99')),
 (6588, Decimal('4.99')),
 (7081, Decimal('2.99')),
 (8485, Decimal('0.99')),
 (9362, Decimal('0.99')),
 (10291, Decimal('4.99')),
 (10601, Decimal('10.99')),
 (10766, Decimal('4.99')),
 (11236, Decimal('5.99')),
 (14525, Decimal('0.99')),
 (15597, Decimal('0.99')),
 (1024, Decimal('7.99')),
 (1453, Decimal('4.99')),
 (1727, Decimal('0.99')),
 (2030, Decimal('0.99')),
 (2172, Decimal('7.99')),
 (2670, Decimal('4.99')),
 (2762, Decimal('3.99')),

## Graph DB versus Relational DB

### Statement

__Note:__ You just have to write the Cypher statement, show result and draw the ER diagram.

1. Use the database from HW4. You can use the Neo4j browser and attach/past the displayed graph in the answer.
2. Write a Cypher query that shows all nodes and relationships with path length two or less starting at nodes that are Fans and ending in nodes that are teams.
3. In your schema W4111, define a data model that would support the Fan, Comment_On, Comment_By, Supports, Follows and Team graph model.
<s>4. Provide the ER diagram and DDL statements for your schema.<s>

<s>5. Load the Fan, Comment_On, Comment_By, Supports, Follows and Team information into the tables you created.</del>
6. Write an SQL query that returns all paths of length two or less starting from a Fan and ending at a Team.
7. Display your query statement and query result.</s>

__Remember that in a graph DB, nodes and relationships do not have a fixed set of properties. You may assume that all property types are strings.__

### Cypher Query

```
match p=(f:Fan)-[*..2]-(t:Team) return p
```
![image.png](attachment:image.png)

```
CREATE TABLE `Things` (
  `thing_id` int(11) NOT NULL AUTO_INCREMENT,
  `kind` enum('Node','Relationship') NOT NULL,
  `source_id` int(11) DEFAULT NULL,
  `target_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`thing_id`),
  KEY `source_idx` (`source_id`),
  KEY `target_idx` (`target_id`),
  CONSTRAINT `source_dk` FOREIGN KEY (`source_id`) REFERENCES `Things` (`thing_id`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `target_id` FOREIGN KEY (`target_id`) REFERENCES `Things` (`thing_id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=3194 DEFAULT CHARSET=utf8;

CREATE TABLE `Labels` (
  `label_id` int(11) NOT NULL AUTO_INCREMENT,
  `thing_id` int(11) NOT NULL,
  `label` varchar(45) NOT NULL,
  PRIMARY KEY (`label_id`),
  KEY `thing_udx_idx` (`thing_id`),
  CONSTRAINT `thing_udx` FOREIGN KEY (`thing_id`) REFERENCES `Things` (`thing_id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=18492 DEFAULT CHARSET=utf8;


CREATE TABLE `Properties` (
  `property_id` int(11) NOT NULL AUTO_INCREMENT,
  `thing_id` int(11) NOT NULL,
  `name` varchar(45) NOT NULL,
  `value` varchar(128) NOT NULL,
  PRIMARY KEY (`property_id`),
  KEY `p_to_thing_idx_idx` (`thing_id`),
  CONSTRAINT `p_to_thing_idx` FOREIGN KEY (`thing_id`) REFERENCES `Things` (`thing_id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=9412 DEFAULT CHARSET=utf8;

```

![image.png](attachment:image.png)

# Written Questions

## Key Compression

What is index key compression?  What are two necessary conditions for using index key compression?

_Answer:_

1. Key compression replaces repeating values for the beginning parts of keys with a single instance of the value, followed by a reference/link to the keys containing the remaining parts of the keys.
2. The key most be compound and the first segments of the keys must have many repeating values.
![image.png](attachment:image.png)
http://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/f4a5b21d-66fa-4885-92bf-c4e81c06d916/Image/c4c492757c4828427162e94306d565f4/indexkeycompressionimg.png

## Hash versus Tree Index

What are three reasons to use a B+ Tree instead of a Hash Index?


_Answer:_

1. Where clauses contain comparison operators other than =.
2. B+ Trees can use indexes if Where clauses contain a subset of the full keys columns, as long as the subset can form a key prefix.
3. Order By

## Query Processing

Give three simple examples of rewriting a query to produce an equivalent query.

__DFF Note to CAs:__ There are other examples.

_Answer_

1. JOIN(A,B) = JOIN(B,A)
2. SELECT(JOIN(A,B)) = JOIN(SELECT(A),SELECT(B))
3. PROJECT(SELECT(A,B)) = JOIN(PROJECT(A),PROJECT(B))

## Buffer Management

Briefly explain _force, no force, steal_ and _no steal_ buffer management policies.

_Answer_

1. Force: Write all update to disk before commit.
2. Not Force: Do not write all updates to disk before commit. Use log redo if there is a failure.
3. No steal: Do not allow buffer pages with uncommitted data to overwrite disk pages.
4. Steal: Allow overwrite. Use undo log during recovery processing.

## Hash Index

<img src="./hash_index.jpeg">

The image below shows the state of a hash index.
- The table size is 11.
- The hashing algorithm is modulo table size.
- The rehash function is linear probing.

Show the new status of the cache after adding:
- 24
- 30

_Answer:_

<img src="./hash_index_answer.jpeg">

## Join Optimization

Briefly explain a Sort-Merge Join. When would you use a Sort-Merge instead of a Hash-Join and vice-versa.

_Answer:_

Sort-Merge is a two pass algorithm. The first pass sorts the scan and probe tables on the join columns. The result is that the join execution reads each block from the probe table exactly one time.

There are several reasons to use Sort-Merge: 1) The query specifies order by on the join columns. 2) Hash joins only work for equijoins.

## Deadlock

Briefly explain two techniques a transaction manager may use to break deadlocks?

_Answer:_

1. Timeouts.
2. Wait for graphs.

## RAID

What is a major advantage of RAID-5 over RAID-0 and RAID-1?

_Answer:_

Raid-5 achieve availability and I/O parallelism at a much lower storage redundancy cost.

## Disk Addressing

Briefly explain CHS Addressing for disks.

_Answer:_

1. Cylinder is a set of tracks at the same offset from the edge of the disk. Cylinder defines to which in/out position the head assembly seeks.
2. Head determines which of the disk in the "layer cake" to read.
3. Sector is the segment within a track to read, and determines rotate latency.

## ETag Processing

Briefly explain ETag processing. Is ETag processing more similar to pessimistic or optimistic transaction?

_Answer:_

An ETag is a hash of a resource's data. A client receives the resource data and ETag on a GET. The client program updates the data and passes the new value AND the original ETag on a PUT. The server rejects the PUT if the computed ETag for the current state of the data does not match the ETag passed by the client.

This is an optimistic transaction.

# Bonus Question

Who is the greatest hockey player of all time?

_Answer:_

Bobby Orr.